{% load static %}
<!-- Navigation and Sidebar -->
<!-- Navigation -->
<div class="dashboard--nav">
    <div class="dashboard--nav--toggle">
        <div class="dashboard--nav--toggle__hover">
            <img src="{% static 'images/menu.png' %}" alt="toggle icon" class="dashboard--nav--toggle--icon" />
        </div>
        <a href="{% url 'base:home' %}"><img src="{% static 'images/LogoFooter.png' %}" alt="go-chunk-logo"
                class="dashboard--nav--toggle--logo" /></a>
    </div>
    <div class="dashboard--nav--user">
        <!-- <a href="">
            <img src="../images/icons for nav bar.png" alt="notification bell"
              class="dashboard--nav--user--bell">
          </a> -->
        <a href="../templates/dashboard-settings.html"><img src="{% static 'images/Group 199.png' %}" alt="user img"
                class="dashboard--nav--user--img"></a>
        <div class="dashboard--nav--online--icon"></div>
    </div>
</div>
<!-- SideBar -->
<div class="dashboard--sidebar">
    <div class="dashboard--sidebar--underline"></div>
    <div class="dashboard--sidebar--links__center">
        <!-- Sidebar link -->
        <a id="split-file-btn" href="{% url 'base:chunk_file' %}" class="dashboard--sidebar--links">
            <img src="{% static 'images/layer-group.svg' %}" alt="sidebar--icon"
                class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">Split File</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="{% url 'base:splitted_files' %}" class="dashboard--sidebar--links">
            <img src="{% static 'images/tick-square.png ' %}" alt="sidebar--icon"
                class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">Chunked Files</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="{% url 'base:faq' %}" class="dashboard--sidebar--links">
            <img src="{% static 'images/message-question.png  ' %}" alt="sidebar--icon"
                class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">FAQ</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="{% url 'base:dashboard_settings' %}" class="dashboard--sidebar--links">
            <img src="{% static 'images/setting-2.png  ' %}" alt="sidebar--icon"
                class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">Settings</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="{% url 'base:about' %}" class="dashboard--sidebar--links">
            <img src="{% static 'images/warning-2.png' %}" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">About Us</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="{% url 'base:logout' %}" class="dashboard--sidebar--links">
            <img src="{% static 'images/login.png ' %}" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">Log Out</p>
        </a>
        <!-- End of sidebar link -->
    </div>
</div>
<!-- End of navigation and sidebar -->