<!-- Navigation -->
<div class="nav">
    <!-- Logo -->
    <div>
      <img class="logo" src="../images/Frame 1028.png" alt="" />
    </div>
    <!-- NavLinks-->
    <div class="nav-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    <!-- End of NavLinks -->
    <!-- Nav Buttons -->
    <div>
      <button class="login-btn">Log in</button>
      <button class="register-btn">Register</button>
    </div>
    <!-- End of Nav Buttons -->
  </div>
  <!-- End of Navigation -->