main {
  min-width: 100%;
  margin: 0 auto;
}

/*---- Hero ----*/

.about {
  padding: 42px 100px;
  color: black;
}
.hero--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 30px;
}
.about--hero--info--title {
  font-size: var(--fs-large);
  margin-bottom: 36px;
}
.about--hero--description {
  font-size: var(--fs-small);
  line-height: 32px;
  color: var(--body--text-color);
  margin-bottom: 50px;
}

/* -----Contact Form Button----- */
.about--contact--form--btn {
  width: 268px;
  height: 64px;
  border: none;
  border-radius: 8px;
  background: #ffc056;
  box-shadow: 5px 10px 20px rgba(255, 192, 86, 0.2);
  font-size: var(--fs-small);
  font-weight: var(--fw-big);
  margin: 108px 0 200px;
  cursor: pointer;
}

/*----Contents----*/

.about--content--title {
  color: var(--bg-color);
  font-size: var(--fs-medium);
  font-weight: var(--fw-big);
  margin-bottom: 25px;
}
.about--content--text {
  font-size: var(--fs-small);
  line-height: 32px;
  margin-bottom: 25px;
}
.about--content--text--list {
  padding: 0 40px;
}

.intext--links {
  color: var(--bg-color);
}
