<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>sign in</title>

        <!-- Global Stylesheets -->
        <link rel="stylesheet" href="../static/globalstyle.css" />


        <!-- Pages Stylesheets -->
        <link rel="stylesheet" href="./signin.css" />
    </head>

    <body>
        <main>

            <!-- ----Beginning of Login form-------->

            <!-- ----Signin container----- -->
            <div class="signin--container">
                <h3 class="signin--top--content">Login to Go-Chunk</h3>

                <!-- ---- Signin form content---- -->

                <div class="signin--bottom--content">
                    <h3 class="signin--bottom--content--title">Welcome Back!</h3>
                    <p class="signin--bottom-content--title-description">
                        Log in to your account to continue...
                    </p>
                    <form action="" class="signin--bottom--content--form">
                        <label class="signin--bottom--content--form--label">Email</label>
                        <input
                            class="singin--form--input"
                            type="email"
                            name="name"
                            id=""
                            placeholder="Enter your email address"
                            />
                        <label class="signin--bottom--content--form--label">Password</label>
                        <input
                            class="singin--form--input"
                            type="password"
                            name="name"
                            id=""
                            placeholder="Minimun of 8 characters"
                            />
                        <label for=""
                            class="signin--form--label-remember-me">
                            <input
                                type="checkbox"
                                name=""
                                id=""
                                class="signin--form--label-checkbox"
                                />Remember me
                        </label>
                        <button class="signin--btn">Sign in</button>
                        <p class="signin-button--below--text">
                            Don't have an account?
                            <a href="../templates/signup.html"
                                class="signin--intext--links">Sign Up</a>
                        </p>
                    </form>
                </div>

            </div>




        </main>
        <script src="./signin.js"></script>
    </body>
</html>
