main {
  min-width: 100%;
  margin: 0 auto;
}

/*---- Hero ----*/

.tnc {
  padding: 48px 100px;
  color: black;
}
.tnc--hero--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 25px;
}
.tnc--hero--info--title {
  font-size: var(--fs-large);
}
.tnc--hero--description {
  max-width: 735px;
  color: var(--body--text-color);
}
/* .hero--info--policy > h3 {
  font-weight: var(--fw-small);
  font-size: var(--fs-small);
}
.hero--info--policy > h3:nth-child(1) {
  text-align: right;
}
.hero--info--policy > h3:nth-child(2) {
  margin-top: 12px;
}
.hero--info--policy--date {
  color: var(--bg-color);
} */

/*----Contents----*/
.tnc--content--container {
  margin-top: 50px;
}
.tnc--content--title {
  color: var(--bg-color);
  font-size: var(--fs-medium);
  font-weight: var(--fw-big);
  margin-top: 25px;
  margin-bottom: 25px;
}
.tnc--content--text {
  font-size: var(--fs-small);
  font-weight: var(--fw-small);
  line-height: 36px;
  margin-bottom: 25px;
}
/* .content--text--list {
  padding: 0 40px;
}
.content--text--list > li {
  font-size: var(--fs-small);
  font-weight: var(--fw-small);
  margin-bottom: 16px;
  line-height: 36px;
} */
.tnc--content--subheader {
  font-size: larger;
  font-weight: var(--fw-big);
  line-height: 36px;
  margin-top: 32px;
}
.tnc--text__up {
  margin-top: 0;
}
