{% extends "main.html" %}

{% block content %}
<!-- Hero Container-->
<section class="about">
  <!-- Hero Info -->
  <div class="about--hero--info">
    <h1 class="about--hero--info--title">About Us</h1>
  </div>
  <p class="about--hero--description">
    Go-Chunk is a non-profit, open-source project launched
    in 2022 by Zuri
    Team powered by Ingressive for Good APIs. Having worked
    with data
    scientists and analysts all over the world, Go-Chunk
    aims to offer
    solutions to the stress of going through so many
    processes to break
    down data files and also the loss of files on any
    device.
  </p>

  <!-- End of Hero Information -->

  <!-- Our Mission -->
  <section class="about--content--container">
    <!-- Content -->
    <article class="about--content">
      <h1 class="about--content--title">Our Mission</h1>
      <p class="about--content--text">
        Our mission is to offer a platform to users that
        work with
        enormous data files, such as data analysts, data
        scientists,
        developers, and others, where they can split
        those files into a
        certain number of sections to make their files
        easier to work
        with.
      </p>
      <p class="about--content--text">
        Go-Chunk provides guaranteed security by
        protecting our users
        privacy. All actions directly related to the
        project are covered
        by the
        <a class="intext--links" href="{% url 'base:privacy' %}">Go-Chunk
          privacy
          policy.</a>
        This is to ensure users can freely perform tasks
        on the project
        with safety and assured security. Check out our
        <a class="intext--links" href="{% url 'base:t_c' %}">Terms
          and Conditions</a>
        to know our legal propositions.
      </p>
      <p class="about--content--text">
        We also provide our users with the options to
        download or save
        their files in their desired formats. Users can
        always come back
        to download their files within a certain time
        frame. Click on our
        <a class="intext--links" href="{% url 'base:t_c' %}">terms
          and Conditions</a>,
        for more details.
      </p>

      <button class="about--contact--form--btn">Send
        message</button>
    </article>
  </section>
</section>

<!-- End of Form -->
{% endblock content %}