<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chunk File Project</title>

        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0" />
            <title>Chunk File Project</title>

            <!-- Global Stylesheets -->
            <link rel="stylesheet" href="../static/globalstyle.css" />
            <link rel="stylesheet" href="../static/header.css" />
            <link rel="stylesheet" href="../static/footer.css" />
            <link rel="stylesheet" href="../static/faq.css" />
            <link rel="stylesheet" href="./home.css" />
            <link rel="stylesheet" href="../static/documentation.css">
            <script src="https://kit.fontawesome.com/0fb08dbc74.js"
                crossorigin="anonymous"></script>
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>

        <body>
            <main>
                <!-- Navigation -->
                <div class="nav" id="myNav">
                    <!-- Logo -->
                    <div class="mobile-nav">
                        <div class="menu-logo"> <a href="javascript:void(0);"
                                class="icon"
                                id="menu-icon">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="../templates/home.html"><img
                                    src="../images/Frame 1028.png"
                                    alt=""
                                    class="logo"></div>

                            <img src="../images/search-interface-symbol.png"
                                alt="search" class="search">
                        </div></a>
                    <div class="logo-desktop"><a href="../templates/home.html"><img
                                src="../images/Frame 1028.png" alt=""
                                class="logo">
                        </div>

                        <div class="documentation--middle--content">
                            <img src="../images/Vector.svg" alt="Github"
                                class="github-icon">
                            <!-- Search bar-->
                            <div class="search-bar">
                                <img src="../images/search-interface-symbol.png"
                                    alt="search">
                                <input type="search" name="" id=""
                                    class="search-input"
                                    placeholder="Search documentation">

                            </div>
                        </div>
                        <!-- End of NavLinks -->
                        <!-- Nav Buttons -->
                        <div>
                            <a href="../templates/signin.html"><button
                                    class="login-btn">Log in</button></a>
                            <a href="../templates/signup.html"><button
                                    class="register-btn">Register</button></a>
                        </div>
                        <!-- End of Nav Buttons -->

                    </div>
                    <!-- ------End of navigation---------- -->
                    <div class="main-container">
                        <div class="side-nav">
                            <h1 class="big-black-header">Documentation</h1>
                            <ul>
                                <div class="intro-dropdown">
                                    <li><a href="">Introduction</a></li><img
                                        src="../images/down.png"
                                        alt="" class="drop-down">
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu-1">
                                    <h3><a href="#">Features</a></h3>
                                    <h3><a href="../templates/signup.html">Getting
                                            Started</a></h3>
                                </div>

                                <div class="intro-dropdown">
                                    <li><a href="">Getting Started</a></li><img
                                        src="../images/down.png"
                                        alt="" class="drop-down">
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu-1">
                                    <h3><a href="#">Sign in to the dashboard</a></h3>
                                    <h3><a href="../templates/signup.html">Chunk
                                            your CSV/JSON files</a></h3>
                                    <h3><a href="#">File Formats</a></h3>
                                    <h3><a href="#">Manage your user account</a></h3>
                                </div>
                                <div class="intro-dropdown">
                                    <li><a href="">Dashboard</a></li><img
                                        src="../images/down.png"
                                        alt="" class="drop-down">
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu-1">
                                    <h3><a href="#">Uploading file</a></h3>
                                    <h3><a href="../templates/signup.html">Chunking
                                            Options</a></h3>
                                    <h3><a href="#">Saving your file</a></h3>
                                    <h3><a href="#">font-end</a></h3>
                                </div>
                                <li><a href="">Advanced
                                        Installations</a></li>
                                <li><a href="">Database </a></li>
                                <li><a href="">Frequently Asked Questions</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Website</a></li>
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="">Terms of Use</a></li>
                            </ul>


                        </div>
                        <div class="right-content-top">
                            <h1 class="top-header-mobile">Documentation</h1>
                            <h1 class="right-content-header">Getting Started</h1>
                            <hr class="right-content-top-rule">
                            <p class="description-after-rule">With Go-chunk you
                                can split your large files into chunk in just
                                few minutes. This guide aims to provide basic
                                instructions to get you started
                            </p>
                            <h1 class="right-content-header">Sign in to the
                                Dashboard</h1>
                            <div class="list-items">
                                <p>Go-chunk has made a personal user account
                                    available to you; Sign in to your dashboard
                                    using these steps;</p>
                                <ul><li>If you already have a Go-chunk account,
                                        log in here.</li>
                                    <li>If you don’t have an account yet,you can
                                        create account here.</li>

                                    <li>Create a strong password</li>
                                    <p>Forgot Pasword?</p>
                                    <ul><li>If you forgot your password, recover
                                            it <a
                                                href="../templates/forgotpassword.html">here</a></li>
                                        <li>Input the Email you used to register
                                            on Go-chunk</li>

                                        <li>Receive a one-time confirmation link
                                            via Email to log in</li>
                                    </ul>
                                </div>
                                <h1 class="right-content-header">Chunk your
                                    CSV/JSON Files</h1>
                                <p class="geting-started-description">A CSV file
                                    is a comma-separated values file commonly
                                    used by spreadsheet programs such as
                                    Microsoft Excel or OpenOffice Calc.<br>
                                    It contains plain text data sets separated
                                    by commas, with each new line in the CSV
                                    file representing a new database row and
                                    each database row consisting of one or more
                                    fields separated by a comma.
                                    Many data reporting tools output to CSV
                                    format.
                                </p>
                                <p
                                    class="geting-started-description-paragraph-text">A
                                    JSON file is a file that stores simple data
                                    structures and objects in JavaScript Object
                                    Notation (JSON) format, which is a standard
                                    data interchange format. It is primarily
                                    used for transmitting data between a web
                                    application and a server.
                                    JSON files are lightweight, text-based,
                                    human-readable, and can be edited using a
                                    text editor.
                                    From APIs to configuration files, JSON is
                                    now everywhere.
                                </p>
                                <h1 class="right-content-header">File Formats</h1>
                                <p class="geting-started-description">
                                    It is expected that users already have their
                                    large files which they want to split/chunk.
                                    For now, our website offers chunking for
                                    only CSV/JSON formats. In the next versions,
                                    we will make provision for other file
                                    formats.

                                </p>
                                <h1 class="right-content-header">Manage your
                                    User Account</h1>

                                <div class="list-items">
                                    <p>To manage your account on Go-chunk;</p>
                                    <ul><li>Manage your profile settings <a
                                                href="#">here</a></li>
                                        <li>Change your password <a href="#">here</a></li>
                                        <li>Change your username <a href="#">here</a></li>
                                        <div class="menu-items" id="menuItems">
                                            <div class="menu-items-nav">
                                                <i class="fa fa-xmark"
                                                    id="close-icon"></i>
                                            </div>
                                            <ul>
                                                <div
                                                    class="intro-dropdown-mobile">
                                                    <li><a href="">Introduction</a></li><img
                                                        src="../images/down.png"
                                                        alt=""
                                                        class="drop-down">
                                                </div>
                                                <div class="dropdown-menu"
                                                    id="dropdown-menu-mobile-1">
                                                    <h3><a href="#">Features</a></h3>
                                                    <h3><a
                                                            href="../templates/documentation_getting_started.html">Getting
                                                            Started</a></h3>
                                                </div>
                                            </li>
                                            <div class="intro-dropdown-mobile">
                                                <li><a href="">Dashboard</a></li><img
                                                    src="../images/down.png"
                                                    alt="" class="drop-down">
                                            </div>
                                            <div class="dropdown-menu"
                                                id="dropdown-menu-mobile-2">
                                                <h3><a href="#">Uploading file</a></h3>
                                                <h3><a
                                                        href="../templates/documentation_getting_started.html">Chunking
                                                        Options</a></h3>
                                                <h3><a
                                                        href="../templates/documentation_getting_started.html">Saving
                                                        your file</a></h3>
                                                <h3><a
                                                        href="../templates/documentation_getting_started.html">Front-end</a></h3>
                                            </div>
                                            <div class="intro-dropdown-mobile">
                                                <li><a href="">Database</a></li><img
                                                    src="../images/down.png"
                                                    alt="" class="drop-down">
                                            </div>
                                            <div class="dropdown-menu"
                                                id="dropdown-menu-mobile-2">
                                                <h3><a href="#">How chunking is
                                                        done</a></h3>
                                                <h3><a
                                                        href="../templates/documentation_getting_started.html">The
                                                        Database
                                                        settings
                                                    </a></h3>
                                            </div>
                                            <li>FAQs</li>
                                            <li>Contact Us</li>
                                            <li>Website</li>
                                            <li>Privacy Policy</li>
                                            <li>Terms of Use</li>

                                        </ul>
                                    </div>

                                </div>

                                <script src="../templates/documentation.js"></script>
                            </body>