* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.faq {
  text-align: center;
  margin: 100px 0;
}

.faq-header-text h1 {
  margin-bottom: 15px;
}

.faq-header-text h3 {
  margin-bottom: 15px;
}

.faq-header-text p {
  margin-bottom: 35px;
}

.question-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display-block {
  display: block;
}
.display-none {
  display: none;
}
.hero-text {
  margin-right: 194px;
}

.faq-hero-text {
  padding-left: 80px;
}
.faq-hero-text-2 {
  padding-left: 50px;
}
.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 834px;
  height: 68px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #2e53d2;
  /* -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; */
}

.asked-questions {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
}

.question-box button {
  background-color: #2e53d2;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #ffffff;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.answer-question-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 834px;
  height: 68px;
  margin-top: 20px;
  border: 2px solid #2e53d2;
  border-radius: 8px 8px 0 0;
}

.answer-question-box p {
  color: #2e53d2;
  font-weight: 600;
}

.answer-box {
  display: none;
}

.answer-box button {
  padding: 0;
  margin: 0;
  color: #2e53d2;
  background-color: #ffff;
  font-size: 20px;
  border: 2px solid #2e53d2;
  cursor: pointer;
  line-height: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;

  align-content: center;
  text-align: center;
  justify-content: center;
}

.answer-box-answer {
  width: 834px;
  border: 2px solid #2e53d2;
  border-radius: 0 0 8px 8px;
  height: fit-content;
  margin-top: -1;
}

.answer-box-answer p {
  text-align: left;
  padding: 20px;
}
