/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

:root {
  --bg-color: #2e53d2;
  --bg-2-color: #172a69;
  --icon-color: #ffffff;
  --link-color: #fdfdfd;
  --title-color: #fefefe;
  --home-hero-color: #d5ddf6;
  --home-hero-2-color: #b9c6f0;
  --grey-color: #0b0b0b;
  --btn-color: #ffc056;
  --placeholder-color: #9a9a9a;
  --form-title: #575757;
  --body--text-color: #2c2c2c;

  --width: 1440px;

  --ff: "Open Sans", sans-serif;
  --ff-2: "Poppins", sans-serif;

  --fs-large: 48px;
  --fs-big: 36px;
  --fs-medium: 24px;
  --fs-small: 16px;

  --fw-large: 700;
  --fw-big: 600;
  --fw-small: 400;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f8f8;
}

main {
  min-width: 1024px;
  margin: 0 auto;
}

/* ----Horizontal rule-------- */
hr {
  height: 1px;
  background-color: #ffca72;
  border: none;
  margin-top: 50px;
}
