nav {
  background-color: #fff;
  display: flex;
  padding: 0% 5%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px 0px #00000033;
  padding: 15px 100px;
}
.nav-links {
  width: 100%;
  display: flex;
}
.nav-links ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #0f1c46;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ffc056;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.logo {
  width: 200px;
}

.login-btn {
  width: 132px;
  padding: 10px 12px;
  background-color: #fff;
  color: #1b1b1b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #ffc056;
  border-radius: 4px;
  cursor: pointer;
}

.register-btn {
  width: 132px;
  padding: 10px 12px;
  margin-left: 5px;
  background-color: var(--btn-color);
  color: #1b1b1b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #ffc056;
  border-radius: 4px;
  cursor: pointer;
}
.nav--logo--toggle button {
  display: none;
}

/* ===========
Media Query
=========== */
@media screen and (max-width: 1439px) {
  nav {
    max-width: 100vw;
    padding: 0;
  }
  .nav--logo--toggle {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: relative;
  }
  .nav--logo--toggle button {
    display: block;
    background: none;
    border: none;
  }
  .nav--toggle-btn {
    width: 30px;
    cursor: pointer;
  }
  .nav-links {
    position: absolute;
    top: 98px;
    align-self: auto;
    background-color: red;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 0px #00000033;
    display: none;
    width: fit-content;
    border-bottom-right-radius: 5px;
  }
  .nav-links ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
  }
  .nav-links ul li {
    margin: 10px 0;
  }
  .nav--buttons {
    display: block;
    margin-top: 30px;
  }
}

.show {
  display: block;
}
