.dashboard--splitted--files--info {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-small);
  }
  .dashboard--splitted--files--info--left > p:nth-child(1) {
      margin-bottom: 20px;
  }
  .dashboard--splitted--files--notice {
      margin-bottom: 40px;
      font-size: var(--fs-small);
      color: var(--bg-color);
      font-weight: var(--fw-large);
  }
  .dashboard--splitted--files--view {
    overflow-y: scroll;
    padding-right: 20px;
    height: 295px;
    font-size: var(--fs-small);
  }
  .dashboard--splitted--files--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--home-hero-2-color);
    padding: 6px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .dashboard--splitted--files--name > img,
  .dashboard--splitted--files--download > img {
    width: 25px;
    margin-right: 10px;
  }
  .dashboard--splitted--files--name,
  .dashboard--splitted--files--download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
  }
  .dashboard--splitted--files--download > button {
      border: none;
      background-color: transparent;
      color: var(--bg-color);
      font-family: var(--ff);
      font-size: var(--fs-small);
  }
  .dashboard--splitted--files--download > button:hover {
      cursor: pointer;
  }

  /* Scrollbar Styling */
  .dashboard--splitted--files--view::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
  }
  
  .dashboard--splitted--files--view::-webkit-scrollbar-track {
    /* color of the tracking area */
    /* background: var(--home-hero-2-color);  */
  }
  
  .dashboard--splitted--files--view::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
  }
  
