<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Dashboard</title>

  <!-- Global Stylesheets -->
  <link rel="stylesheet" href="../static/globalstyle.css" />
  <link rel="stylesheet" href="../static/dashboard.css" />
  <link rel="stylesheet" href="./dashboard-saved-files.css">
</head>

<body>
  <div class="dashboard--container">
    <!-- Navigation and Sidebar -->
    <!-- Navigation -->
    <div class="dashboard--nav">
      <div class="dashboard--nav--toggle">
        <div class="dashboard--nav--toggle__hover">
          <img src="../images/menu.png" alt="toggle icon" class="dashboard--nav--toggle--icon" />
        </div>
        <img src="../images/LogoFooter.png" alt="go-chunk-logo" class="dashboard--nav--toggle--logo" />
      </div>
      <div class="dashboard--nav--user">
        <a href="">
          <img src="../images/icons for nav bar.png" alt="notification bell" class="dashboard--nav--user--bell">
        </a>
        <img src="../images/Group 199.png" alt="user img" class="dashboard--nav--user--img">
        <div class="dashboard--nav--online--icon"></div>
      </div>
    </div>
    <!-- SideBar -->
    <div class="dashboard--sidebar">
      <div class="dashboard--sidebar--underline"></div>
      <div class="dashboard--sidebar--links__center">
        <!-- Sidebar link -->
        <a id="split-file-btn" href="" class="dashboard--sidebar--links">
          <img src="../images/layer-group.svg" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
          <p class="dashboard--sidebar--links--desc">Split File</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="" class="dashboard--sidebar--links">
          <img src="../images/tick-square.png" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
          <p class="dashboard--sidebar--links--desc">Saved Files</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="" class="dashboard--sidebar--links">
          <img src="../images/message-question.png" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
          <p class="dashboard--sidebar--links--desc">FAQ</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="" class="dashboard--sidebar--links">
          <img src="../images/setting-2.png" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
          <p class="dashboard--sidebar--links--desc">Settings</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="" class="dashboard--sidebar--links">
          <img src="../images/warning-2.png" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
          <p class="dashboard--sidebar--links--desc">About Us</p>
        </a>
        <!-- End of sidebar link -->
        <!-- Sidebar link -->
        <a href="" class="dashboard--sidebar--links">
          <img src="../images/login.png" alt="sidebar--icon" class="dashboard--sidebar--links--icon">
          <p class="dashboard--sidebar--links--desc">Log Out</p>
        </a>
        <!-- End of sidebar link -->
      </div>
    </div>
    <!-- End of navigation and sidebar -->
    <div class="dashboard--main">
      <div class="dashboard--main--function">
        <section class="dashboard--saved-container">
          <div class="dashboard--saved--header">
              <button type="submit" class="dashboard--saved--share">
                <img src="../images/sms.png" alt="share to email icon">
                Share to Email
              </button>
              <button type="submit" class="dashboard--saved--delete">
                <img src="../images/trash.png" alt="delete icon">
                Delete
              </button>
          </div>

          <table id="dashboard--saved--table">
            <tr id="table--title">
              <th>File Name</th>
              <th>Size</th>
              <th>Split Sizes</th>
              <th>Numbers</th>
              <th>Date Saved</th>
              <th>Status</th>
            </tr>
            <tr class="table--items">
              <td class="table--items--file">
                <img src="../images/Group 293.png" alt="green tick">
                <span>File Name</span>
              </td>
              <td>100mb</td>
              <td>10</td>
              <td>10</td>
              <td>22-07-2022 <p>5:46pm</p></td>
              <td>Chunked</td>
              <td>
                <button type="submit">
                  <img src="../images/arrow-down.png" alt="">
                </button>
              </td>
            </tr>
            <tr class="table--items">
              <td class="table--items--file">
                <img src="../images/Group 293.png" alt="green tick">
                <span>File Name</span>
              </td>
              <td>100mb</td>
              <td>10</td>
              <td>10</td>
              <td>22-07-2022 <p>5:46pm</p></td>
              <td>Chunked</td>
              <td>
                <button type="submit">
                  <img src="../images/arrow-down.png" alt="">
                </button>
              </td>
            </tr>
          </table>
        </section>
      </div>
    </div>
  </div>
  <script src="dashboard.js"></script>
</body>

</html>