<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Dashboard</title>

    <!-- Global Stylesheets -->
    <link rel="stylesheet" href="../static/globalstyle.css" />
    <link rel="stylesheet" href="../static/dashboard.css" />
    <link rel="stylesheet" href="../templates/dashboard-split.css" />
  </head>

  <body>
    <div class="dashboard--container">
      <!-- Navigation and Sidebar -->
      <!-- Navigation -->
      <div class="dashboard--nav">
        <div class="dashboard--nav--toggle">
          <div class="dashboard--nav--toggle__hover">
            <img src="../images/menu.png" alt="toggle icon"
              class="dashboard--nav--toggle--icon" />
          </div>
          <img src="../images/LogoFooter.png" alt="go-chunk-logo"
            class="dashboard--nav--toggle--logo" />
        </div>
        <div class="dashboard--nav--user">
          <a href="">
            <img src="../images/icons for nav bar.png" alt="notification bell"
              class="dashboard--nav--user--bell">
          </a>
          <img src="../images/Group 199.png" alt="user img"
            class="dashboard--nav--user--img">
          <div class="dashboard--nav--online--icon"></div>
        </div>
      </div>
      <!-- SideBar -->
      <div class="dashboard--sidebar">
        <div class="dashboard--sidebar--underline"></div>
        <div class="dashboard--sidebar--links__center">
          <!-- Sidebar link -->
          <a id="split-file-btn" href="" class="dashboard--sidebar--links">
            <img src="../images/layer-group.svg" alt="sidebar--icon"
              class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">Split File</p>
          </a>
          <!-- End of sidebar link -->
          <!-- Sidebar link -->
          <a href="" class="dashboard--sidebar--links">
            <img src="../images/tick-square.png" alt="sidebar--icon"
              class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">Saved Files</p>
          </a>
          <!-- End of sidebar link -->
          <!-- Sidebar link -->
          <a href="" class="dashboard--sidebar--links">
            <img src="../images/message-question.png" alt="sidebar--icon"
              class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">FAQ</p>
          </a>
          <!-- End of sidebar link -->
          <!-- Sidebar link -->
          <a href="" class="dashboard--sidebar--links">
            <img src="../images/setting-2.png" alt="sidebar--icon"
              class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">Settings</p>
          </a>
          <!-- End of sidebar link -->
          <!-- Sidebar link -->
          <a href="" class="dashboard--sidebar--links">
            <img src="../images/warning-2.png" alt="sidebar--icon"
              class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">About Us</p>
          </a>
          <!-- End of sidebar link -->
          <!-- Sidebar link -->
          <a href="" class="dashboard--sidebar--links">
            <img src="../images/login.png" alt="sidebar--icon"
              class="dashboard--sidebar--links--icon">
            <p class="dashboard--sidebar--links--desc">Log Out</p>
          </a>
          <!-- End of sidebar link -->
        </div>
      </div>
      <!-- End of navigation and sidebar -->
      <div class="dashboard--main">
        <div class="dashboard--main--function">
          <!-- Saved Files Section -->
          <section id="splitted-files" class="dashboard--splitted--files hide">
            <div class="dashboard--splitted--files--info">
              <div class="dashboard--splitted--files--info--left">
                <p>You uploaded <span>File Name</span></p>
                <p>Size : <span>File Size</span></p>
                <p>Split size : <span>Split Size</span></p>
              </div>
              <div class="dashboard--splitted--files--info--right">
                <p>Date of Split <span>Time of Split</span></p>
              </div>
            </div>
            <!-- <div class="dashboard--upload-options">
              <img src="../images/folder.png" alt="folder"
                class="dashboard--upload-options-icons"><label
                class="dashboard--upload-options-text">My Device</label><img
                src="../images/logos_google-drive.png" alt="Google Drive"
                class="dashboard--upload-options-icons"><label
                class="dashboard--upload-options-text">Google
                Drive
              </label><img
                src="../images/logos_dropbox.png" alt=""
                class="dashboard--upload-options-icons"><label
                class="dashboard--upload-options-text">Drop Box</label><img
                src="../images/logos_microsoft-onedrive.png"
                alt="" class="dashboard--upload-options-icons"><label
                class="dashboard--upload-options-text">One
                Drive</label>
            </div> -->
          </div>

        </div>
      </div>
    </div>
    <script src="dashboard.js"></script>
  </body>

</html>