<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chunk File Project</title>

        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0" />
            <title>Chunk File Project</title>

            <!-- Global Stylesheets -->
            <link rel="stylesheet" href="../static/globalstyle.css" />
            <link rel="stylesheet" href="../static/header.css" />
            <link rel="stylesheet" href="../static/footer.css" />
            <link rel="stylesheet" href="../static/faq.css" />
            <link rel="stylesheet" href="./home.css" />
            <link rel="stylesheet" href="../static/documentation.css">
            <script src="https://kit.fontawesome.com/0fb08dbc74.js"
                crossorigin="anonymous"></script>
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>

        <body>
            <main>
                <!-- Navigation -->
                <div class="nav" id="myNav">
                    <!-- Logo -->
                    <div class="mobile-nav">
                        <div class="menu-logo"> <a href="javascript:void(0);"
                                class="icon"
                                id="menu-icon">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="../templates/home.html"><img
                                    src="../images/Frame 1028.png"
                                    alt=""
                                    class="logo"></div>

                            <img src="../images/search-interface-symbol.png"
                                alt="search" class="search">
                        </div></a>
                    <div class="logo-desktop"><a href="../templates/home.html"><img
                                src="../images/Frame 1028.png" alt=""
                                class="logo"></a>
                    </div>

                    <div class="documentation--middle--content">
                        <img src="../images/Vector.svg" alt="Github"
                            class="github-icon">
                        <!-- Search bar-->
                        <div class="search-bar">
                            <img src="../images/search-interface-symbol.png"
                                alt="search">
                            <input type="search" name="" id=""
                                class="search-input"
                                placeholder="Search documentation">

                        </div>
                    </div>
                    <!-- End of NavLinks -->
                    <!-- Nav Buttons -->
                    <div>
                        <a href="../templates/signin.html"><button
                                class="login-btn">Log in</button></a>
                        <a href="../templates/signup.html"><button
                                class="register-btn">Register</button></a>
                    </div>
                    <!-- End of Nav Buttons -->

                </div>
                <!-- ------End of navigation---------- -->
                <div class="main-container">
                    <div class="side-nav">
                        <h1 class="big-black-header">Documentation</h1>
                        <ul>
                            <div class="intro-dropdown">
                                <li><a href="">Introduction</a></li><img
                                    src="../images/down.png"
                                    alt="" class="drop-down"
                                    id="dropdown-icon-1" onclick="myFunction()">
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-1">
                                <h3><a href="#">Features</a></h3>
                                <h3><a href="../templates/signup.html">Getting
                                        Started</a></h3>
                            </div>

                            <div class="intro-dropdown">
                                <li><a href="">Getting Started</a></li><img
                                    src="../images/down.png"
                                    alt="" class="drop-down"
                                    id="dropdown-icon-2">
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-2">
                                <h3><a href="#">Sign in to the dashboard</a></h3>
                                <h3><a href="../templates/signup.html">Chunk
                                        your CSV/JSON files</a></h3>
                                <h3><a href="#">File Formats</a></h3>
                                <h3><a href="#">Manage your user account</a></h3>
                            </div>
                            <div class="intro-dropdown">
                                <li><a href="">Dashboard</a></li><img
                                    src="../images/down.png"
                                    alt="" class="drop-down"
                                    id="dropdown-icon-3">
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-3">
                                <h3><a href="#">Uploading file</a></h3>
                                <h3><a href="../templates/signup.html">Chunking
                                        Options</a></h3>
                                <h3><a href="#">Saving your file</a></h3>
                                <h3><a href="#">font-end</a></h3>
                            </div>
                            <li><a href="">Advanced
                                    Installations</a></li>
                            <li><a href="">Database </a></li>
                            <li><a href="">Frequently Asked Questions</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Website</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms of Use</a></li>
                        </ul>


                    </div>
                    <div class="right-content-top">
                        <h1 class="top-header-mobile">Documentation</h1>
                        <h1 class="right-content-header">Introduction to
                            Go-chunk</h1>
                        <hr class="right-content-top-rule">
                        <p class="description-after-rule">Go-chunk is a free
                            and
                            reliable file splitter that
                            allows you to split your large CSV or JSON files
                            into smaller bits called CHUNKS
                            These chunks are converted into Zip for download
                            and
                            also made available to save for later download.
                        </p>
                        <h1 class="right-content-header">Features on
                            Go-chunk</h1>
                        <div class="list-items">
                            <p>Go-chunk made new features available to be
                                distinguished from other standard file
                                splitters:</p>
                            <ul><li>With Go-chunk, you can have access to a
                                    personal
                                    dashboard to split files</li>
                                <li>Two splitting options are made available
                                    ;
                                    split
                                    into set of same sized chunks or splt
                                    into
                                    number of rows.</li>

                                <li>You may enter your preferred size per
                                    file
                                    or
                                    the number you want your file to be
                                    splitted
                                    into.</li>
                                <li>You can choose to download each chunked
                                    files
                                    one by one incase of tested splitting</li>
                                <li>You can save your chunked files on your
                                    dasboard
                                    and download anytime</li>
                                <li>We store your file properties like dates
                                    and
                                    file attributes.</li>
                                <li>Split very large files; The minimum file
                                    size
                                    accepted to split is 2mb</li>
                                <li>Customize your file attributes according
                                    to
                                    your
                                    need ; file name,size,number,date and
                                    status</li>
                                <li>You are able to work in your own
                                    language,
                                    we
                                    support multiple languages;
                                    English,french,spanish</li>
                                <li>We allow you to split multiple files in
                                    one
                                    time***</li>
                                <li>You can give us feedback on your
                                    chunking
                                    experience so we can know how to serve
                                    you
                                    better.</li></ul>
                        </div>
                        <h1 class="right-content-header">Getting started on
                            Go-chunk</h1>
                        <p class="geting-started-description">To <a
                                href="../templates/home.html">Get Started</a>
                            with
                            Go-chunk, you can create an
                            account which wll be available at **** </p><p
                            class="geting-started-description-paragraph-text">After
                            you set up an accpunt,
                            the next step is to
                            chunk your files. We look forward to chunking
                            your
                            files!</p>


                        <div class="bottom-links"><p><a
                                    href="../templates/signup.html">Getting
                                    started
                                    with Go-chunk</a></p><p><a
                                    href="">How to Split a file?</a></p><p><a
                                    href="">Frequently
                                    asked questions</p></p>
                            <p class="after-list-text">Go-chunk provide to
                                you
                                an aesthetic user
                                interface that will help you have a soothing
                                chunking experience.</p>
                            <div class="last-segment">
                                <h1>Getting Started on Go-chunk</h1>
                                <p class="">To <a
                                        href="../templates/signup.html">Get
                                        Started</a> with Go-chunk, you
                                    can create an
                                    account which wll be available at ****
                                </p>
                                <p class="paragraph-text">
                                    After you set up an accpunt, the next
                                    step
                                    is to
                                    chunk your files. We look forward to
                                    chunking
                                    your files!</p>
                            </div>

                        </div>
                    </div>
                    <div class="menu-items" id="menuItems">
                        <div class="menu-items-nav">
                            <i class="fa fa-xmark" id="close-icon"></i>
                        </div>
                        <ul>
                            <div class="intro-dropdown-mobile">
                                <li><a href="">Introduction</a></li><img
                                    src="../images/down.png"
                                    alt="" class="drop-down">
                            </div>
                            <div class="dropdown-menu"
                                id="dropdown-menu-mobile-1">
                                <h3><a href="#">Features</a></h3>
                                <h3><a
                                        href="../templates/documentation_getting_started.html">Getting
                                        Started</a></h3>
                            </div>
                        </li>
                        <div class="intro-dropdown-mobile">
                            <li><a href="">Dashboard</a></li><img
                                src="../images/down.png"
                                alt="" class="drop-down">
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu-mobile-2">
                            <h3><a href="#">Uploading file</a></h3>
                            <h3><a
                                    href="../templates/documentation_getting_started.html">Chunking
                                    Options</a></h3>
                            <h3><a
                                    href="../templates/documentation_getting_started.html">Saving
                                    your file</a></h3>
                            <h3><a
                                    href="../templates/documentation_getting_started.html">Front-end</a></h3>
                        </div>
                        <div class="intro-dropdown-mobile">
                            <li><a href="">Database</a></li><img
                                src="../images/down.png"
                                alt="" class="drop-down">
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu-mobile-2">
                            <h3><a href="#">How chunking is done</a></h3>
                            <h3><a
                                    href="../templates/documentation_getting_started.html">The
                                    Database
                                    settings
                                </a></h3>
                        </div>
                        <li>FAQs</li>
                        <li>Contact Us</li>
                        <li>Website</li>
                        <li>Privacy Policy</li>
                        <li>Terms of Use</li>

                    </ul> </div>

            </div>

            <script src="../templates/documentation.js"></script>
        </body>