 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chunk File Project</title>

        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0" />
            <title>Chunk File Project</title>

            <!-- Global Stylesheets -->
            <link rel="stylesheet" href="../static/globalstyle.css" />
            <link rel="stylesheet" href="../static/header.css" />
            <link rel="stylesheet" href="../static/footer.css" />
            <link rel="stylesheet" href="../static/faq.css"/>
            <script src="../static/header.js"></script>

            <!-- Pages Stylesheets -->
            <link rel="stylesheet" href="./home.css" />
        </head>

        <body>
            <main>
                <!-- Navigation -->
                <div class="nav">
                    <!-- Logo -->
                    <div>
                        <img class="logo" src="../images/Frame 1028.png" alt=""
                            />
                    </div>
                    <!-- NavLinks-->
                    <div class="nav-links">
                        <ul>
                            <li><a href="../templates/home.html">Home</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="../templates/contact.html">Contact</a></li>
                            <li><a href="../templates/about.html">About Us</a></li>
                            <li><a href="#page">FAQs</a></li>
                        </ul>
                    </div>
                    <!-- End of NavLinks -->
                    <!-- Nav Buttons -->
                    <div>
                        <a href="./signin.html"> <button class="login-btn">Log
                                in</button></a>
                        <a href="./signup.html"> <button class="register-btn">Register</button></a>
                    </div>
                    <!-- End of Nav Buttons -->
                </div>
                <!-- End of Navigation -->


                <!-- --------Beginning of FAQs---------------- -->

                <section class="faq">
                    <div class="faq-header-text">
                        <h1>Frequently Asked<span id="question">
                                Questions</span>
                        </h1>
                        <h3>Need some clarity?</h3>
                        <p>Below are some questions we
                            often get and we
                            have made your experience easier by
                            answering them in a clear and precise way. <br> If
                            you can't find your
                            question here, kindly<span>Contact Us</span>
                        </p>
                    </div>
                    <!-- ------------Beginning of first box------------ -->
                    <div class="question-box-container">
                        <div id="question-box-1" class="question-box">
                            <p class="asked-questions">Can i split more
                                than 5 files at a
                                time?</p>

                            <button id="add-sign-1">+</button>
                        </div>
                        <div id="answer-box-1" class="answer-box">
                            <div class="answer-question-box">
                                <p>Can i split more than 5 files at a
                                    time?</p>
                                <button id="minus-sign-1">-</button>
                            </div>

                            <div class="answer-box-answer">
                                <p>
                                    GO-Chunk allows you to split just one
                                    file at a time.
                                </p>
                            </div>
                        </div>
                        <!-- -----End of first box------- -->
                        <!-- ---------Beginning of Second box-------------- -->
                        <div id="question-box-2" class="question-box">
                            <p class="asked-questions">Can i split more
                                than 5 files at a
                                time?</p>

                            <button id="add-sign-2">+</button>
                        </div>
                        <div id="answer-box-2" class="answer-box">
                            <div class="answer-question-box">
                                <p>Can i split more than 5 files at a
                                    time?</p>
                                <button id="minus-sign-2">-</button>
                            </div>

                            <div class="answer-box-answer">
                                <p>
                                    To avoid errors while splitting, make
                                    sure you select the
                                    right format.
                                </p>
                            </div>
                        </div>
                        <!-- ---------End of Second box-------------- -->
                        <!-- ---------Beginning of third box-------------- -->
                        <div id="question-box-3" class="question-box">
                            <p class="asked-questions">Can i split more
                                than 5 files at a
                                time?</p>

                            <button id="add-sign-3">+</button>
                        </div>
                        <div id="answer-box-3" class="answer-box">
                            <div class="answer-question-box">
                                <p>Can i split more than 5 files at a
                                    time?</p>
                                <button id="minus-sign-3">-</button>
                            </div>

                            <div class="answer-box-answer">
                                <p>
                                    GO-Chunk allows you to split just one
                                    file at a time.
                                </p>
                            </div>
                        </div>
                        <!-- ---------End of third box-------------- -->
                        <!-- ---------Beginning of Fourth box-------------- -->
                        <div id="question-box-4" class="question-box">
                            <p class="asked-questions">How can I avoid
                                having errors while
                                splitting?</p>
                            <button id="add-sign-4">+</button>
                        </div>
                        <div id="answer-box-4" class="answer-box">
                            <div class="answer-question-box">
                                <div class="answer-question">
                                    <p>How can I avoid
                                        having errors while
                                        splitting?</p>
                                </div>
                                <button id="minus-sign-4">-</button>
                            </div>

                            <div class="answer-box-answer">
                                <p>
                                    To avoid errors while splitting, make
                                    sure you select the
                                    right format.</p>
                            </div>
                            <!-- ---------End of Fourth box-------------- -->
                        </div>
                    </div>
                </section>
                <script src="./faq.js"></script>
                <!-- End of FAQ   -->