 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chunk File Project</title>

        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0" />
            <title>Chunk File Project</title>

            <!-- Global Stylesheets -->
            <link rel="stylesheet" href="../static/globalstyle.css" />
            <link rel="stylesheet" href="../static/header.css" />
            <link rel="stylesheet" href="../static/footer.css" />
            <link rel="stylesheet" href="../static/faq.css"/>
            <script src="../static/header.js"></script>

            <!-- Pages Stylesheets -->
            <link rel="stylesheet" href="./home.css" />
        </head>

        <body>
            <main>
                <!-- Navigation -->
                <div class="nav">
                    <!-- Logo -->
                    <div>
                        <img class="logo" src="../images/Frame 1028.png" alt=""
                            />
                    </div>
                    <!-- NavLinks-->
                    <div class="nav-links">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="../templates/contact.html">Contact</a></li>
                            <li><a href="../templates/about.html">About Us</a></li>
                            <li><a href="#page">FAQs</a></li>
                        </ul>
                    </div>
                    <!-- End of NavLinks -->
                    <!-- Nav Buttons -->
                    <div>
                        <a href="./signin.html"> <button class="login-btn">Log
                                in</button></a>
                        <a href="./signup.html"> <button class="register-btn">Register</button></a>
                    </div>
                    <!-- End of Nav Buttons -->
                </div>
                <!-- End of Navigation -->


                <!-- --------Beginning of FAQs---------------- -->

                <section class="faq">
                    <div class="faq-header-text">
                        <h1>Frequently Asked<span id="question">
                                Questions</span>
                        </h1>
                        <h3>Need some clarity?</h3>
                        <p class="intro-text">Below are some questions we
                            often get and we
                            have made your experience easier by
                            answering them in a clear and precise way. If
                            you can't find your
                            question here, kindly<span
                                id="question">Contact Us</span>
                        </p>
                    </div>
                    <div>

                        <div id="question-box-1" class="question-box row">
                            <div class="asked-questions">Can i split more
                                than 5 files at a
                                time?</div>
                            <div id="add-sign-1" class="add-sign">
                                <span class="plus">+</span>
                            </div>

                        </div>
                        <div id="answer-box-1" class="answer-box
                            display-none">
                            <div class="row border-blue border-top-radius
                                question-box-2">
                                <div class="asked-questions-2">
                                    <p>Can i split more than 5 files at a
                                        time?</p>
                                </div>
                                <div id="minus-sign-1" class="minus-sign
                                    row">
                                    <span class="minus">-</span>
                                </div>

                            </div>
                            <div class="border-blue border-bottom-radius
                                question-box-2 row">
                                <p>
                                    GO-Chunk allows you to split just one
                                    file at a time.</p>
                            </div>

                        </div>

                        <div id="question-box-2" class="question-box row">
                            <div class="asked-questions">How can I avoid
                                having errors while
                                splitting?</div>
                            <div id="add-sign-2" class="add-sign">
                                <span class="plus">+</span>
                            </div>

                        </div>
                        <div id="answer-box-2" class="answer-box
                            display-none">
                            <div class="row border-blue border-top-radius
                                question-box-2">
                                <div class="asked-questions-2">
                                    <p>How can I avoid having errors while
                                        splitting?</p>
                                </div>
                                <div id="minus-sign-2" class="minus-sign
                                    row">
                                    <span class="minus">-</span>
                                </div>

                            </div>
                            <div class="border-blue border-bottom-radius
                                question-box-2 row">
                                <p>
                                    To avoid errors while splitting, make
                                    sure you select the
                                    right format.
                                </p>
                            </div>

                        </div>
                        <div id="question-box-3" class="question-box row">
                            <div class="asked-questions">How safe are my
                                files in case I lost
                                my gadgets?</div>
                            <div id="add-sign-3" class="add-sign">
                                <span class="plus">+</span>
                            </div>

                        </div>
                        <div id="answer-box-3" class="answer-box
                            display-none">
                            <div class="row border-blue border-top-radius
                                question-box-2">
                                <div class="asked-questions-2">
                                    <p>How safe are my files in case I lost
                                        my gadgets?</p>
                                </div>
                                <div id="minus-sign-3" class="minus-sign
                                    row">
                                    <span class="minus">-</span>
                                </div>

                            </div>
                            <div class="border-blue border-bottom-radius
                                question-box-2 row">
                                <p>
                                    Be rest assured that your files are safe
                                    with us and can be
                                    collected without missing any data any
                                    time.
                                </p>
                            </div>

                        </div>
                        <div id="question-box-4" class="question-box row">
                            <div class="asked-questions">Will I be charged
                                if I want to chunk
                                into many numbers?</div>
                            <div id="add-sign-4" class="add-sign">
                                <span class="plus">+</span>
                            </div>

                        </div>
                        <div id="answer-box-4" class="answer-box
                            display-none">
                            <div class="row border-blue border-top-radius
                                question-box-2">
                                <div class="asked-questions-2">
                                    <p>Will I be charged if I want to chunk
                                        into many numbers?</p>
                                </div>
                                <div id="minus-sign-4" class="minus-sign
                                    row">
                                    <span class="minus">-</span>
                                </div>

                            </div>
                            <div class="border-blue border-bottom-radius
                                question-box-2 row
                                mb">
                                <p>
                                    GO-Chunk is absolutely FREE! We want you
                                    to freely do your
                                    chunking because your data are important
                                    to
                                    us.</p>
                            </div>

                        </div>
                    </div>

                </section>
                <script src="./faq.js"></script>
                <!-- End of FAQ   -->