<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forgot password</title>

        <!-- Global Stylesheets -->
        <link rel="stylesheet" href="../static/globalstyle.css" />


        <!-- Pages Stylesheets -->
        <link rel="stylesheet" href="./forgotpassword.css" />
    </head>

    <body>
        <main>

            <!-- ----Beginning of Login form-------->

            <!-- ----forgotpassword container----- -->
            <div class="forgotpassword--container">
                <h3 class="forgotpassword--top--content">Password Reset</h3>
                <!-- ---- forgotpassword form content---- -->

                <div class="forgotpassword--bottom--content">
                    <h3 class="forgotpassword--bottom--content--title">Forgot
                        Password?
                    </h3>
                    <p
                        class="forgotpassword--bottom-content--title-description">
                        Please enter your email address. You will receive a link
                        to create a new password via email.
                    </p>
                    <form action=""
                        class="forgotpassword--bottom--content--form">
                        <label
                            class="forgotpassword--bottom--content--form-label">Email</label>
                        <input
                            class="singin--form--input"
                            type="email"
                            name="name"
                            id=""
                            placeholder="Enter your email address"
                            />

                        <button class="forgotpassword--btn">Reset Password</button>
                        <p class="forgotpassword-button--below--text">
                            <a href="../templates/signup.html"
                                class="forgotpassword--intext--links">Back to
                                Sign in
                                page?</a>
                        </p>
                    </form>
                </div>

            </div>


        </main>
        <script src="./forgotpasswword.js"></script>
    </body>
</html>
