* {
  margin: 0;
  padding: 0;
}

body {
  background: #748ce1;
}

.forgotpassword--container {
  position: relative;
  margin: 150px auto;
  width: 610px;
  height: 700px;
  background: #fdfdfd;
  box-shadow: 10px 10px 40px rgba(103, 110, 134, 0.8);
  align-items: center;
}

.forgotpassword--top--content {
  position: relative;
  margin: auto;
  top: -20px;
  width: 610px;
  height: 120px;
  text-align: center;
  align-content: center;
  color: white;
  padding: 32px 0;
  font-size: var(--fs-big);
  background: #2e53d2;
  border-radius: 20px;
}

.forgotpassword--bottom--content {
  padding: 12px 92px;
}

.forgotpassword--bottom--content--title {
  font-family: var(--ff);
  font-size: var(--fs-medium);
  color: var(--bg-color);
  padding-bottom: 10px;
}

.forgotpassword--bottom-content--title-description {
  font-family: var(--ff);
  font-size: 16px;
  font-weight: var(--fw-small);
  color: #575757;
  margin-bottom: 42px;
}

.forgotpassword--bottom--content--form {
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

.forgotpassword--bottom--content--form-label {
  padding: 10px 0 5px;
  font-size: var(--fs-small);
  font-family: var(--ff);
  font-weight: var(--fw-big);
  color: var(--form-title);
}

.forgotpassword--form--label-checkbox {
  width: 24px;
  margin-right: 5px;
  align-content: center;
  vertical-align: middle;
}

.forgotpassword--form--label-remember-me {
  font-size: var(--fs-small);
  font-family: var(--ff);
  font-weight: var(--fw-small);
  color: var(--form-title);
  margin-top: 10px;
}

.singin--form--input {
  width: 400px;
  height: 52px;
  font-family: var(--ff);
  font-size: var(--fs-small);
  border: 1px solid #9a9a9a;
  border-radius: 8px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.singin--form--input:focus {
  border: 2px solid #2e53d2;
}

/* ----Rememeber me section----- */

.forgotpassword--intext--links {
  color: var(--bg-color);
  text-decoration: none;
  font-size: var(--fs-small);
}

.forgotpassword--btn {
  width: 400px;
  height: 52px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 8px;
  font-family: var(--ff);
  font-weight: var(--fw-large);
  font-size: var(--fs-small);
  margin: 42px 0 0px;
  cursor: pointer;
}

.forgotpassword-button--below--text {
  font-size: var(--fs-small);
  font-family: var(--ff);
  font-weight: var(--fw-small);
  margin-top: 15px;
}
