<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chunk File Project</title>

    <!-- Global Stylesheets -->
    <link rel="stylesheet" href="../static/globalstyle.css" />
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/footer.css" />

    <!-- Pages Stylesheets -->
    <link rel="stylesheet" href="./home.css" />
  </head>

  <body>
    <main>
      <!-- Navigation -->
      <div class="nav">
        <!-- Logo -->
        <div>
          <img class="logo" src="../images/Frame 1028.png" alt="" />
        </div>
        <!-- NavLinks-->
        <div class="nav-links">
          <ul>
            <li><a href="../templates/home.html">Home</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="../templates/contact.html">Contact</a></li>
            <li><a href="../templates/about.html">About Us</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <!-- End of NavLinks -->
        <!-- Nav Buttons -->
        <div>
          <button class="login-btn">Log in</button>
          <button class="register-btn">Register</button>
        </div>
        <!-- End of Nav Buttons -->
      </div>
      <!-- End of Navigation -->

      <!-- Hero Container-->
      <section class="home--hero">
        <div class="home--hero--introduction">
          <h1>
            Split your data-files in the fastest and most secure way; at no
            cost!
          </h1>
          <p>
            Upload large data files, Split it quickly and Download your chunked
            files or Save it for later.
          </p>
          <p>All for FREE!</p>
          <button class="chunk--btn">CHUNK FILES</button>
        </div>
        <img src="../images/hero-img.png" alt="" class="home--hero--img" />
      </section>
      <!-- End of Hero Container -->

      <!-- Chunk Steps -->
      <section class="home--chunk--description">
        <h1 class="home--chunk--title">
          Chunk your Data-files in three easy steps!
        </h1>
        <div class="home--chunk--steps__flex">
          <div class="home--chunk--steps">
            <img src="../images/edit.png" alt="" />
            <h3>Sign Up</h3>
          </div>
          <img class="home--chunk--arrow" src="../images/Line 23.png" alt="" />
          <div class="home--chunk--steps">
            <img src="../images/upload.png" alt="" />
            <h3>Upload file</h3>
          </div>
          <img class="home--chunk--arrow" src="../images/Line 23.png" alt="" />
          <div class="home--chunk--steps">
            <img src="../images/logout.png" alt="" />
            <h3>Ready to Go</h3>
          </div>
        </div>
      </section>
      <!-- End of Chunk Steps -->

      <!-- About Section -->
      <section class="home--about">
        <h1 class="home--about--title">
          About <span>CSV/JSON</span> Data Formats
        </h1>
        <div class="home--about--description">
          <img
            class="home--about--icon"
            src="../images/Group-1.png"
            alt="csv-icon"
            />
          <article class="home--about--text">
            <h2>CSV</h2>
            <p>
              A CSV file is a comma-separated values file commonly used by
              spreadsheet programs such as Microsoft Excel or OpenOffice Calc.
              It contains plain text data sets separated by commas, with each
              new line in the CSV file representing a new database row and each
              database row consisting of one or more fields separated by a
              comma.
            </p>
            <p>Many data reporting tools output to CSV format.</p>
          </article>
        </div>
        <div class="home--about--description">
          <img
            class="home--about--icon"
            src="../images/Group.png"
            alt="csv-icon"
            />
          <article class="home--about--text">
            <h2>JSON</h2>
            <p>
              A JSON file is a file that stores simple data structures and
              objects in JavaScript Object Notation (JSON) format, which is a
              standard data interchange format. It is primarily used for
              transmitting data between a web application and a server. JSON
              files are lightweight, text-based, human-readable, and can be
              edited using a text editor.
            </p>
            <p>From APIs to configuration files, JSON is now everywhere.</p>
          </article>
        </div>
      </section>
      <!-- End of About Section -->

      <!-- Split Section  -->
      <section class="split">
        <!-- Split box -->
        <div class="split__flex">
          <article>
            <h2 class="split__flex--heading">SPLIT LARGE CSV OR JSON FILES</h2>
            <p class="split__flex--text">
              Are you having problems splitting your large CSV or JSON files?
              Upload your file on <span>Go-Chunk</span>, split and download in
              minutes.
            </p>
          </article>
          <img
            class="split--img"
            src="../images/SPLIT ILLUSTRATION.png"
            alt=""
            />
        </div>
        <!-- End of Split box-->
        <!-- Split box -->
        <div class="split__flex">
          <article>
            <h2 class="split__flex--heading">SAVE NOW AND DOWNLOAD LATER</h2>
            <p class="split__flex--text">
              You can always manage your downloads on
              <span>Go-Chunk</span>. Select your own date and time and download
              whenever you are ready.
            </p>
          </article>
          <img
            class="split--img"
            src="../images/SAVE ILLUSTRATION.png"
            alt=""
            />
        </div>
        <!-- End of Split box-->
        <!-- Split box -->
        <div class="split__flex">
          <article>
            <h2 class="split__flex--heading">GUARANTEED SECURITY</h2>
            <p class="split__flex--text">
              With <span>Go-Chunk</span>, your privacy and security remains
              guaranteed. No one has access to your files.
            </p>
          </article>
          <img class="split--img" src="../images/Group 213.png" alt="" />
        </div>
        <!-- End of Split box-->
      </section>
      <!-- End of Split Section -->

      <!-- Instructions -->
      <section class="instruction">
        <h1 class="instruction--title">
          Start splitting files <span>in no time!</span>
        </h1>
        <p class="instruction--text">
          You don’t have to wait hours or days to get your files splitted. With
          Go-Chunk, you can do that in <span>minutes.</span>
        </p>
        <p class="instruction--text">How? The steps below are a quick guide.</p>
        <!-- Instruction Step -->
        <div class="instruction--steps">
          <div class="instruction--steps__flex">
            <article>
              <h3>STEP 1: Register/Log In</h3>
              <p>
                To get started, tap the “Register” button to get started on your
                free account or Log in to continue.
              </p>
            </article>
            <img src="../images/🦆 icon _login_.png" alt="login-icon" />
          </div>
          <div class="instruction--steps--underline"></div>
        </div>
        <!-- End of Instruction Step -->
        <!-- Instruction Step -->
        <div class="instruction--steps">
          <div class="instruction--steps__flex">
            <article>
              <h3>STEP 2: Select and Upload your files</h3>
              <p>
                Select your files and upload it or drag and drop into the
                ‘Upload File’ box to begin.
              </p>
            </article>
            <img
              src="../images/🦆 icon _file earmark arrow up_.png"
              alt="login-icon"
              />
          </div>
          <div class="instruction--steps--underline"></div>
        </div>
        <!-- End of Instruction Step -->
        <!-- Instruction Step -->
        <div class="instruction--steps">
          <div class="instruction--steps__flex">
            <article>
              <h3>STEP 3: Choose chunk number and Split</h3>
              <p>
                Choose the number of chunks you want your file to be splitted
                into, and tap on ‘Split File’ button.
              </p>
            </article>
            <img
              src="../images/🦆 icon _file group line_.png"
              alt="login-icon"
              />
          </div>
          <div class="instruction--steps--underline"></div>
        </div>
        <!-- End of Instruction Step -->
        <!-- Instruction Step -->
        <div class="instruction--steps">
          <div class="instruction--steps__flex">
            <article>
              <h3>STEP 4: After splitting, Save your file</h3>
              <p>
                Once your file has been splitted, you can Save it by tapping the
                ‘Save File’ button.
              </p>
            </article>
            <img src="../images/🦆 icon _file done_.png" alt="login-icon" />
          </div>
          <div class="instruction--steps--underline"></div>
        </div>
        <!-- End of Instruction Step -->
        <!-- Instruction Step -->
        <div class="instruction--steps">
          <div class="instruction--steps__flex">
            <article>
              <h3>STEP 5: Click Download, to download your files</h3>
              <p>You can always come back to download your files later.</p>
            </article>
            <img
              src="../images/🦆 icon _file earmark arrow down_.png"
              alt="login-icon"
              />
          </div>
          <div class="instruction--steps--underline"></div>
        </div>
        <!-- End of Instruction Step -->
      </section>
      <!-- End of Instructions -->

      <!-- Testimonials -->
      <section class="testimonials">
        <h2 class="testimonials--title">Testimonials</h2>
        <p class="testimonials--introduction">What our users have to say</p>
        <div class="testimonials__flex">
          <img
            class="testifier--img"
            src="../images/Ellipse 44.png"
            alt="user-img"
            />
          <article>
            <p class="testimonials--text">
              Go-Chunk does a good job by chunking large data files into bits in
              the fatest and secure way. The interface is well designed and
              seamless.
            </p>
            <p class="testimonials--name">Muhammed Salem</p>
            <p class="testimonials--role">Data Analyst</p>
          </article>
        </div>
      </section>
      <!-- End of Testimonials -->
 <!-- This is a pull request comment -->
      <!-- Footer -->
      <footer class="footer--container">
        <!-- Top of Footer -->
        <div class="footer--top">
          <img
            class="footer--top--logo"
            src="../images/LogoFooter.png"
            alt=""
            />
          <div class="footer--top--icons">
            <a href="" class="footer--top--social">
              <img
                src="../images/entypo-social_linkedin-with-circle.png"
                alt="linkedin-icon"
                class="footer--social--icon"
                />
            </a>
            <a href="" class="footer--top--social">
              <img
                src="../images/ant-design_twitter-circle-filled.png"
                alt="twitter-icon"
                class="footer--social--icon"
                />
            </a>
            <a href="" class="footer--top--social">
              <img
                src="../images/entypo-social_facebook-with-circle.png"
                alt="facebook-icon"
                class="footer--social--icon"
                />
            </a>
            <a href="" class="footer--top--social">
              <img
                src="../images/entypo-social_youtube-with-circle.png"
                alt="youtube-icon"
                class="footer--social--icon"
                />
            </a>
          </div>
        </div>
        <!-- End of Top of Footer -->
        <!-- Middle of Footer -->
        <div class="footer--middle">
          <div class="footer--middle--links">
            <h3 class="footer--middle--links--title">Company</h3>
            <div class="underline"></div>
            <div class="footer--middle--link__grid">
              <a href="#" class="footer--middle--link">Home</a>
              <a href="#" class="footer--middle--link">About Us</a>
              <a href="#" class="footer--middle--link">Contact Us</a>
              <a href="#" class="footer--middle--link">Feedback</a>
            </div>
          </div>

          <div class="footer--middle--links">
            <h3 class="footer--middle--links--title">Splitter</h3>
            <div class="underline"></div>
            <div class="footer--middle--link__grid">
              <a href="#" class="footer--middle--link">Split CSV file</a>
              <a href="#" class="footer--middle--link">Split JSON file</a>
            </div>
          </div>

          <div class="footer--middle--links">
            <h3 class="footer--middle--links--title">Resources</h3>
            <div class="underline"></div>
            <div class="footer--middle--link__grid">
              <a href="#" class="footer--middle--link">Documentation</a>
              <a href="#" class="footer--middle--link">FAQs</a>
            </div>
          </div>

          <div class="footer--middle--links">
            <h3 class="footer--middle--links--title">Account</h3>
            <div class="underline"></div>
            <div class="footer--middle--link__grid">
              <a href="#" class="footer--middle--link">Profile</a>
              <a href="#" class="footer--middle--link">Settings</a>
            </div>
          </div>
        </div>
        <!-- End of Middle of Footer -->
        <!-- Bottom of Footer -->
        <div class="footer--bottom">
          <h4 class="footer--bottom--copyright">
            Copyright 2022. All Rights Reserved.
          </h4>
          <div class="footer--bottom--links">
            <a href="#" class="footer--bottom--link">Privacy Policy</a>
            <a href="#" class="footer--bottom--link">Terms and Conditions</a>
          </div>
        </div>
        <!-- End of Bottom of Footer -->
      </footer>
      <!-- End of Footer -->
    </main>
  </body>
</html>
