/*---- Hero ----*/

.privacy {
  padding: 42px 100px;
  color: black;

  /* 1440px Screen Size */
  /* max-width: 1440px;
  margin: 0 auto; */
}
.privacy--hero--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 25px;
}
.privacy--hero--info--title {
  font-size: var(--fs-large);
}
.privacy--hero--description {
  max-width: 735px;
  color: var(--body--text-color);
  margin-bottom: 50px;
}
.privacy--hero--info--policy > h3 {
  font-weight: var(--fw-small);
  font-size: var(--fs-small);
}
.privacy--hero--info--policy-mobile {
  display: none;
}

.privacy--hero--info--policy > h3:nth-child(1) {
  text-align: right;
}
.privacy--hero--info--policy > h3:nth-child(2) {
  margin-top: 12px;
}
.privacy--hero--info--policy--date {
  color: var(--bg-color);
}

/*----Contents----*/
.privacy--content--container {
  margin-bottom: 25px;
}
.privacy--content--title {
  color: var(--bg-color);
  font-size: var(--fs-medium);
  font-weight: var(--fw-big);
  margin-top: 50px;
  margin-bottom: 25px;
}
.privacy--content--text {
  font-size: var(--fs-small);
  font-weight: var(--fw-small);
  line-height: 36px;
  margin-bottom: 25px;
}
.privacy--content--text--list {
  padding: 0 40px;
}
.privacy--content--text--list > li {
  font-size: var(--fs-small);
  font-weight: var(--fw-small);
  margin-bottom: 16px;
  line-height: 36px;
}
.privacy--content--subheader {
  font-size: var(--fs-small);
  font-weight: var(--fw-big);
  line-height: 36px;
  margin-top: 32px;
}
.privacy--text__up {
  margin-top: 0;
}

/* ===========MEDIA QUERY================= */

@media screen and (max-width: 1024px) {
  .privacy {
    padding: 24px 24px 0 24px;
    color: black;
  }
  .privacy--hero--info {
    margin-bottom: 0;
  }
  .privacy--hero--info--policy {
    display: none;
  }
  .privacy--hero--info--policy-mobile {
    display: block;
    font-size: 8px;
    text-align: right;
    margin-bottom: 20px;
  }
  .privacy--hero--info--policy-mobile h3 {
    margin: 0;
  }
  .privacy--hero--info--policy-mobile--date {
    color: var(--bg-color);
  }
  .privacy--hero--info--title {
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  .privacy--hero--description {
    font-size: 12px;
    margin-bottom: 16px;
    margin-top: 0;
  }
  .privacy--content {
    margin-top: 0;
    margin-bottom: 0;
  }
  .privacy--content--title {
    margin-bottom: 16px;
    font-size: 20px;
    margin-top: 16px;
  }
  .privacy--content--text {
    font-size: 16px;

    margin-bottom: 16px;
  }
  hr {
    margin: 0;
    padding: 0;
  }
}
