<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chunk File Project</title>

  <!-- Global Stylesheets -->
  <link rel="stylesheet" href="../static/globalstyle.css" />
  <link rel="stylesheet" href="../static/header.css">
  <link rel="stylesheet" href="../static/footer.css" />

  <!-- Pages Stylesheets -->
  <link rel="stylesheet" href="./privacy.css" />
</head>

<body>
  <main>
    <!-- Navigation -->
    <div class="nav">
      <!-- Logo -->
      <div>
        <img class="logo" src="../images/Frame 1028.png" alt="" />
      </div>
      <!-- NavLinks-->
      <div class="nav-links">
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <!-- End of NavLinks -->
      <!-- Nav Buttons -->
      <div>
        <button class="login-btn">Log in</button>
        <button class="register-btn">Register</button>
      </div>
      <!-- End of Nav Buttons -->
    </div>
    <!-- End of Navigation -->

    <!-- Hero Container-->
    <section class="privacy">
      <!-- Hero Info -->
      <div class="hero--info">
        <h1 class="hero--info--title">
          Privacy Policy
        </h1>
        <div class="hero--info--policy">
          <h3>
            This policy is effective from
            <span class="hero--info--policy--date">18th July 2022</span>
          </h3>
          <h3>
            This policy was last modified on
            <span class="hero--info--policy--date">9th August 2022</span>
          </h3>
        </div>
      </div>
      <p class="hero--description">
        Thanks for entrusting GO-chunk with your files and your personal
        information. Handling your data is a serious responsibility, and we
        want you to know how we go about doing that.
      </p>
      <!-- End of Hero Info -->

      <!-- Content -->
      <section class="content--container">
        <!-- Introduction -->
        <article class="content">
          <h1 class="content--title">Introduction</h1>
          <p class="content--text">
            We are GO-chunk, a provider of file splitting services based in Nigeria. Our company number is 7657546. This
            Privacy Policy lets you know what happens to any personal data that you give to us or that we collect from
            you. We collect only the minimum amount of personal information necessary for you to make use of our
            Services; we ensure that we meet our responsibilities of the National Information Technology Development
            Agency (NITDA), along with the Data Protection Act 2020 (DPA 2020); and we will only ever use your data as
            this Privacy Policy describes. We are registered with the Nigeria Information Commissioner's Office (ICO) in
            the Register of Data Controllers (registration number Z1127652).
          </p>
        </article>
        <!-- Data collection type -->
        <article class="content">
          <h1 class="content--title">What type of data do we collect?</h1>
          <p class="content--text">
            We do not intentionally collect or store special categories of personal data, such as genetic data, health
            information, or religious information. Although GO-chunk does not request or intentionally collect any
            special categories of personal data, we realize that you might store this kind of information in your
            account, via the files that you convert.
          </p>
          <p class="content--text">
            If you ask us to convert or store any files containing special categories of personal data on our servers,
            located in the Nigeria, we will only do so on your instructions as a data processor and in accordance with
            our Data Processing Agreement with you. You are the controller of this data and you must ensure that you
            have a legal basis to share this data with us.
          </p>
        </article>
        <!-- Data management -->
        <article class="content">
          <h1 class="content--title">How do we manage your data?</h1>
          <p class="content--text">
            GO-chunk takes the security of data very seriously, and we work hard to protect any information you provide
            to us from loss, misuse, and unauthorized access or disclosure. We take all reasonable precautions to
            safeguard the confidentiality of your personal information, including through use of appropriate
            organisational and technical measures. These measures take into account the sensitivity of the data we
            collect, process and store, and the current state of technology.
          </p>
          <p class="content--text">
            Given the nature of communications and information processing technology, GO-chunck guarantees that
            information, during transmission through the Internet or while stored on our systems or otherwise in our
            care, will be absolutely safe from intrusion by others, we will do our utmost to protect it. Once we have
            received your personal information, we will use strict procedures and security features to prevent
            unauthorised access to it.

          </p>
          <p class="content--text">
            As a minimum we take the following measures to secure your data:<br>
            Physical Security - GO-chunk infrastructure is only hosted in data centres which meet rigorous security
            standards. Physical access is strictly controlled both at the perimeter and at building ingress points by
            professional security staff utilising video surveillance, intrusion detection systems, and other electronic
            means.
          </p>
          <p class="content--text">
            Data Transfer Integrity - All traffic to and from GO-chunk servers is secured by transport level security
            (TLS) sent over a Secure Socket Layer (SSL), and secured using an AES 256-bit SSL certificate. This ensures
            that data sent between your systems and ours is encrypted using military grade encryption.

          </p>
          <p class="content--text">
            Password Encryption - GO- chunk user account passwords are stored in our database after being salted and
            hashed using the Bcrypt encryption algorithm.
          </p>
          <p class="content--text">
            Firewalls - GO-chunk enforces network level control for access to infrastructure by using multiple different
            firewall technologies to ensure that different components of its systems are logically isolated from one
            another.
          </p>
          <p class="content--text">
            Operational Access Controls - GO-chunk employees require access to production services for operational
            reasons. We employ multiple authentication mechanisms to ensure that production systems are accessed only by
            authorised members of staff and are protected from unauthorised access.
          </p>
          <p class="content--text">
            Software Updates - GO-chunk regularly applies software patches to production infrastructure in order to
            ensure a strong security posture to known software vulnerabilities.
          </p>
          <p class="content--text">
            External Accreditation - GO-chunk takes a pro-active approach to security by employing an external company
            to perform monthly security scans of its infrastructure.
          </p>
          <p class="content--text">
            Bug Bounty Program - GO-chunk operates an informal "bug bounty" program that encourages security researchers
            to perform limited and authorised testing of the integrity of GO-chunk systems.
          </p>
        </article>
        <!-- Sharing Data -->
        <article class="content">
          <h1 class="content--title">How do we share your data?</h1>
          <p class="content--text">
            We may share personal information with a limited number of third-party vendors who process it on our behalf
            in order to provide or improve our Services, and who have agreed to privacy restrictions and security
            obligations consistent with this Privacy Policy.
          <p class="content--text">
            We may share personal information where it is in our legitimate interests to do so to run, grow and develop
            our business if we are involved in a merger, sale, or acquisition, including a bankruptcy sale. If any such
            change of ownership happens, we will ensure it is under terms that preserve the confidentiality of personal
            information, and we will notify you on our website or by email before any transfer of your personal
            information.
          </p>
        </article>
        <!-- Rights -->
        <article class="content">
          <h1 class="content--title">What are your rights?</h1>
          <p class="content--text">
            Users may exercise certain rights regarding their Data processed by the Owner.
          </p>
          <p class="content--text">
            In particular, Users have the right to do the following:
          <ul class="content--text--list">
            <li>
              Withdraw their consent at any time: Users have the right to withdraw consent where they have previously
              given their consent to the processing of their Personal Data.
            </li>
            <li>Object to processing of their Data: Users have the right to object to the processing of their Data if
              the processing is carried out on a legal basis other than consent. Further details are provided in the
              dedicated section below</li>
            <li>Access their Data: Users have the right to learn if Data is being processed by the Owner, obtain
              disclosure regarding certain aspects of the processing and obtain a copy of the Data undergoing
              processing.</li>
            <li>Verify and seek rectification: Users have the right to verify the accuracy of their Data and ask for it
              to be updated or corrected.</li>
            <li>Restrict the processing of their Data. Users have the right, under certain circumstances, to restrict
              the processing of their Data. In this case, the Owner will not process their Data for any purpose other
              than storing it.</li>
            <li>Have their Personal Data deleted or otherwise removed. Users have the right, under certain
              circumstances, to obtain the erasure of their Data from the Owner.</li>
            <li>Receive their Data and have it transferred to another controller. Users have the right to receive their
              Data in a structured, commonly used and machine readable format and, if technically feasible, to have it
              transmitted to another controller without any hindrance. This provision is applicable provided that the
              Data is processed by automated means and that the processing is based on the User's consent, on a contract
              which the User is part of or on pre-contractual obligations thereof.</li>
            <li>Receive their Data and have it transferred to another controller. Users have the right to receive their
              Data in a structured, commonly used and machine readable format and, if technically feasible, to have it
              transmitted to another controller without any hindrance. This provision is applicable provided that the
              Data is processed by automated means and that the processing is based on the User's consent, on a contract
              which the User is part of or on pre-contractual obligations thereof.</li>
          </ul>
          </p>
        </article>
        <!-- Other Information -->
        <article class="content">
          <h1 class="content--title">Other important Information</h1>
          <h3 class="content--subheader">Changes to This Privacy Policy</h3>
          <p class="content--text text__up">
            GO-chunk may change this Privacy Policy from time to time. Laws, regulations and industry standards evolve,
            which may make those changes necessary, or we may make changes to our business. We will post the changes to
            this page and update the "last modified date" when we do. We would encourage you to review our Privacy
            Policy to stay informed. If we make changes that materially alter your privacy rights, GO-chunk will provide
            additional notice, such as via email or through the Services. If you disagree with the changes to this
            Privacy Policy, you should deactivate your registered account for the Services, or otherwise cease use of
            the Services.
          </p>

          <h3 class="content--subheader"> Age Limitations</h3>
          <p class="content--text text__up">
            If you're a child under the age of 13, you may not use GO-chunk’s Services. GO-chunk does not knowingly
            collect information from or direct any of our content specifically to children under 13. As set out in our
            Terms of Service, if we learn or have reason to suspect that you are a user who is under the age of 13, and
            you have an account with us we will unfortunately have to close your account.
          </p>

          <h3 class="content--subheader">Contacting GO-chunk</h3>
          <p class="content--text text__up">
            Please feel free to contact GO-chunk if you have any questions about this Privacy Policy or complaints about
            GO-chunk's practices relating to your personal information, or if you are seeking to exercise any of your
            rights described in this Privacy Policy. You may contact us at our mailing address.
          </p>
        </article>
      </section>
      <!-- End of Content -->
    </section>
    <!-- End of Hero Container -->

    <!-- Footer -->
    <footer class="footer--container">
  <!-- Top of Footer -->
  <div class="footer--top">
    <img class="footer--top--logo" src="../images/LogoFooter.png" alt="" />
    <div class="footer--top--icons">
      <a href="" class="footer--top--social">
        <img src="../images/entypo-social_linkedin-with-circle.png" alt="linkedin-icon" class="footer--social--icon" />
      </a>
      <a href="" class="footer--top--social">
        <img src="../images/ant-design_twitter-circle-filled.png" alt="twitter-icon" class="footer--social--icon" />
      </a>
      <a href="" class="footer--top--social">
        <img src="../images/entypo-social_facebook-with-circle.png" alt="facebook-icon" class="footer--social--icon" />
      </a>
      <a href="" class="footer--top--social">
        <img src="../images/entypo-social_youtube-with-circle.png" alt="youtube-icon" class="footer--social--icon" />
      </a>
    </div>
  </div>
  <!-- End of Top of Footer -->
  <!-- Middle of Footer -->
  <div class="footer--middle">
    <div class="footer--middle--links">
      <h3 class="footer--middle--links--title">Company</h3>
      <div class="underline"></div>
      <div class="footer--middle--link__grid">
        <a href="#" class="footer--middle--link">Home</a>
        <a href="#" class="footer--middle--link">About Us</a>
        <a href="#" class="footer--middle--link">Contact Us</a>
        <a href="#" class="footer--middle--link">Feedback</a>
      </div>
    </div>

    <div class="footer--middle--links">
      <h3 class="footer--middle--links--title">Splitter</h3>
      <div class="underline"></div>
      <div class="footer--middle--link__grid">
        <a href="#" class="footer--middle--link">Split CSV file</a>
        <a href="#" class="footer--middle--link">Split JSON file</a>
      </div>
    </div>

    <div class="footer--middle--links">
      <h3 class="footer--middle--links--title">Resources</h3>
      <div class="underline"></div>
      <div class="footer--middle--link__grid">
        <a href="#" class="footer--middle--link">Documentation</a>
        <a href="#" class="footer--middle--link">FAQs</a>
      </div>
    </div>

    <div class="footer--middle--links">
      <h3 class="footer--middle--links--title">Account</h3>
      <div class="underline"></div>
      <div class="footer--middle--link__grid">
        <a href="#" class="footer--middle--link">Profile</a>
        <a href="#" class="footer--middle--link">Settings</a>
      </div>
    </div>
  </div>
  <!-- End of Middle of Footer -->
  <!-- Bottom of Footer -->
  <div class="footer--bottom">
    <h4 class="footer--bottom--copyright">
      Copyright 2022. All Rights Reserved.
    </h4>
    <div class="footer--bottom--links">
      <a href="#" class="footer--bottom--link">Privacy Policy</a>
      <a href="#" class="footer--bottom--link">Terms and Conditions</a>
    </div>
  </div>
  <!-- End of Bottom of Footer -->
    </footer>
    <!-- End of Footer -->
  </main>
</body>
</html>