<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>sign in</title>

        <!-- Global Stylesheets -->
        <link rel="stylesheet" href="../static/globalstyle.css" />
        <link rel="stylesheet" href="../static/header.css" />
        <link rel="stylesheet" href="../static/footer.css" />

        <!-- Pages Stylesheets -->
        <link rel="stylesheet" href="./signin.css" />
    </head>

    <body>
        <main>
            <!-- Navigation -->
            <div class="nav">
                <!-- Logo -->
                <div>
                    <a href="../templates/home.html"><img class="logo"
                            src="../images/Frame 1028.png" alt="" /></a>
                </div>
                <!-- NavLinks-->
                <div class="nav-links">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="./about.html">About Us</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
                <!-- End of NavLinks -->
                <!-- Nav Buttons -->
                
        <div>
            <a href="./signin.html"> <button class="login-btn">Log in</button></a>
            <a href="./signup.html"> <button class="register-btn">Register</button></a>
          </div>
                <!-- End of Nav Buttons -->
            </div>
            <!-- End of Navigation -->

            <!-- ----Beginning of Login form-------->

            <!-- ----Signin container----- -->
            <div class="signin--container">
                <h3 class="signin--top--content">Login to Go-Chunk</h3>

                <!-- ---- Signin form content---- -->

                <div class="signin--bottom--content">
                    <h3 class="signin--bottom--content--title">Welcome Back!</h3>
                    <p class="signin--bottom-content--title-description">
                        Log in to your account to continue...
                    </p>
                    <form action="" class="signin--bottom--content--form">
                        <label class="signin--bottom--content--form--label">Email</label>
                        <input
                            class="singin--form--input"
                            type="email"
                            name="name"
                            id=""
                            placeholder="Enter your email address"
                            />
                        <label class="signin--bottom--content--form--label">Password</label>
                        <input
                            class="singin--form--input"
                            type="password"
                            name="name"
                            id=""
                            placeholder="Minimun of 8 characters"
                            />
                        <label for=""
                            class="signin--form--label-remember-me">
                            <input
                                type="checkbox"
                                name=""
                                id=""
                                class="signin--form--label-checkbox"
                                />Remember me
                        </label>
                        <button class="signin--btn">Sign in</button>
                        <p class="signin-button--below--text">
                            Don't have an account?
                            <a href="../templates/signup.html"
                                class="signin--intext--links">Sign Up</a>
                        </p>
                    </form>
                </div>

            </div>

            <!-- Footer -->
            <footer class="footer--container">
                <!-- Top of Footer -->
                <div class="footer--top">
                    <img class="footer--top--logo"
                        src="../images/LogoFooter.png" alt="" />
                    <div class="footer--top--icons">
                        <a href="" class="footer--top--social">
                            <img
                                src="../images/entypo-social_linkedin-with-circle.png"
                                alt="linkedin-icon" class="footer--social--icon"
                                />
                        </a>
                        <a href="" class="footer--top--social">
                            <img
                                src="../images/ant-design_twitter-circle-filled.png"
                                alt="twitter-icon" class="footer--social--icon"
                                />
                        </a>
                        <a href="" class="footer--top--social">
                            <img
                                src="../images/entypo-social_facebook-with-circle.png"
                                alt="facebook-icon" class="footer--social--icon"
                                />
                        </a>
                        <a href="" class="footer--top--social">
                            <img
                                src="../images/entypo-social_youtube-with-circle.png"
                                alt="youtube-icon" class="footer--social--icon"
                                />
                        </a>
                    </div>
                </div>
                <!-- End of Top of Footer -->
                <!-- Middle of Footer -->
                <div class="footer--middle">
                    <div class="footer--middle--links">
                        <h3 class="footer--middle--links--title">Company</h3>
                        <div class="underline"></div>
                        <div class="footer--middle--link__grid">
                            <a href="#" class="footer--middle--link">Home</a>
                            <a href="#" class="footer--middle--link">About Us</a>
                            <a href="#" class="footer--middle--link">Contact Us</a>
                            <a href="#" class="footer--middle--link">Feedback</a>
                        </div>
                    </div>

                    <div class="footer--middle--links">
                        <h3 class="footer--middle--links--title">Splitter</h3>
                        <div class="underline"></div>
                        <div class="footer--middle--link__grid">
                            <a href="#" class="footer--middle--link">Split CSV
                                file</a>
                            <a href="#" class="footer--middle--link">Split JSON
                                file</a>
                        </div>
                    </div>

                    <div class="footer--middle--links">
                        <h3 class="footer--middle--links--title">Resources</h3>
                        <div class="underline"></div>
                        <div class="footer--middle--link__grid">
                            <a href="#" class="footer--middle--link">Documentation</a>
                            <a href="#" class="footer--middle--link">FAQs</a>
                        </div>
                    </div>

                    <div class="footer--middle--links">
                        <h3 class="footer--middle--links--title">Account</h3>
                        <div class="underline"></div>
                        <div class="footer--middle--link__grid">
                            <a href="#" class="footer--middle--link">Profile</a>
                            <a href="#" class="footer--middle--link">Settings</a>
                        </div>
                    </div>
                </div>
                <!-- End of Middle of Footer -->
                <!-- Bottom of Footer -->
                <div class="footer--bottom">
                    <h4 class="footer--bottom--copyright">
                        Copyright 2022. All Rights Reserved.
                    </h4>
                    <div class="footer--bottom--links">
                        <a href="./privacy.html" class="footer--bottom--link">Privacy Policy</a>
                        <a href="./t&c.html" class="footer--bottom--link">Terms and
                            Conditions</a>
                    </div>
                </div>
                <!-- End of Bottom of Footer -->
            </footer>
            <!-- End of Footer -->


        </main>
        <script src="./signin.js"></script>
    </body>
</html>
