<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign up</title>

    <!-- Global Stylesheets -->
    <link rel="stylesheet" href="../static/globalstyle.css" />

    <!-- Pages Stylesheets -->
    <link rel="stylesheet" href="./signup.css" />
  </head>

  <body>
    <main>

      <div class="signup--container">
        <div class="signup--top--content">
          <h3>Register for Go-Chunk</h3>
        </div>
        <div class="bottom--content">
          <div class="form-header">
            <h3>Create Your Free Account</h3>
            <p>
              We are excited to help you split your files and make your work
              easier, but before that, fill the form below and let’s get you
              started!
            </p>
          </div>

          <form action="" class="signup--form">
            <label class="signup--form-label">Username</h3>
            <input type="text" name="name" id="" placeholder="Doe team 48" />
            <label class="signup--form-label">Email</label>
            <input
              type="email"
              name="name"
              id=""
              placeholder="Enter your email address"
              />
            <label class="signup--form-label">Password</label>
            <input
              type="password"
              name="name"
              id=""
              placeholder="Minimum of 8 characters"
              />
            <label class="signup--form-label">Confirm Password</label>
            <input type="password" name="name" id="" />
            <p class="signup--after--text">
              By signing up, you agree to our
              <a href="../templates/t&c.html" class="signup--intext--links">Terms
                and Condition</a>
              &
              <a href="../templates/privacy.html"
                class="signup--intext--links">Privacy Policy</a>
            </p>
            <button class="signup--btn">Register</button>
            <div class="last-text">
              <p class="signup--after-btn--text">
                Already registered?
                <a href="../templates/signin.html"
                  class="signup--intext--links">Login</a>
              </p>
            </div>

          </form>
        </div>
      </div>
    </main>
    <script src="./signup.js"></script>
  </body>
</html>
