* {
  margin: 0;
  padding: 0;
}

body {
  background: #748ce1;
}

.signup--container {
  position: relative;
  width: 610px;
  height: 900px;
  margin: 100px auto;
  background: #fdfdfd;
  box-shadow: 10px 10px 40px rgba(103, 110, 134, 0.8);
  align-items: center;
}

.signup--top--content {
  position: relative;
  margin: auto;
  top: -20px;
  width: 610px;
  height: 120px;
  text-align: center;
  align-content: center;
  color: white;
  padding: 32px 0;
  font-size: var(--fs-big);
  background: #2e53d2;
  border-radius: 20px;
}

.bottom--content {
  padding: 12px 92px;
}

.form--title {
  font-family: var(--ff);
  font-size: var(--fs-medium);
  color: var(--bg-color);
  padding-bottom: 20px;
}
.form--title-description {
  font-family: var(--ff);
  font-size: 16px;
  font-weight: var(--fw-big);
  color: #575757;
  margin-bottom: 25px;
}

.signup--form {
  align-items: center;
  text-align: left;
  padding: 10px;
}

.signup--form-label {
  padding: 25px 0 5px;
  font-size: var(--fs-small);
  font-family: var(--ff);
  font-weight: var(--fw-big);
  color: var(--form-title);
}

.signup--form input {
  width: 400px;
  height: 52px;
  font-family: var(--ff);
  font-size: var(--fs-small);
  border: 1px solid #9a9a9a;
  border-radius: 8px;
  padding: 0 10px;
  margin-bottom: 15px;
}

.signup--form input:focus {
  outline: 1px solid #2e53d2;
}

.signup--form input::placeholder {
  color: var(--placeholder-color);
}

.signup--after--text {
  margin-bottom: 25px;
  font-weight: var(--fw-small);
}
.signup--intext--links {
  color: var(--bg-color);
  text-decoration: none;
  font-size: var(--fs-small);
}

.signup--after-btn--text {
  font-weight: var(--fw-small);
}

.signup--btn {
  width: 400px;
  height: 52px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 8px;
  font-family: var(--ff);
  font-weight: var(--fw-large);
  font-size: var(--fs-small);
  margin: 25px 0 10px;
  cursor: pointer;
}
