* {
  margin: 0;
  padding: 0;
}

body {
  background: #748ce1;
}

.signin--container {
  position: relative;
  margin: 150px auto;
  width: 610px;
  height: 700px;
  background: #fdfdfd;
  box-shadow: 10px 10px 40px rgba(103, 110, 134, 0.8);
  align-items: center;
}

.signin--top--content {
  position: relative;
  margin: auto;
  top: -20px;
  width: 610px;
  height: 120px;
  text-align: center;
  align-content: center;
  padding: 32px 0;

  background: #2e53d2;
  border-radius: 20px;
}

.signin--top--content h1 {
  font-size: var(--fs-big);
  color: #fff;
}

.signin--bottom--content {
  text-align: center;
  padding: 12px 92px;
}

.signin--bottom--content--title {
  font-family: var(--ff);
  font-size: 24px;
  color: var(--bg-color);
  padding-bottom: 10px;
}

.signin--bottom-content--title-description {
  font-family: var(--ff);
  font-size: 20px;
  font-weight: var(--fw-big);
  color: #575757;
  margin-bottom: 42px;
}

.signin--bottom--content--form {
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

.signin--bottom--content--form--label {
  padding: 10px 0 5px;
  font-size: var(--fs-small);
  font-family: var(--ff);
  font-weight: var(--fw-big);
  color: var(--form-title);
}

.signin--form--label-checkbox {
  width: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

.signin--form--label-remember-me {
  font-size: 12px;
  font-family: var(--ff);
  font-weight: var(--fw-small);
  color: var(--form-title);
}

.remember-password {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-password a {
  font-size: 16px;
  text-decoration: none;
  color: #2e53d2;
}
.singin--form--input {
  width: 400px;
  height: 52px;
  font-family: var(--ff);
  font-size: var(--fs-small);
  border: 1px solid #9a9a9a;
  border-radius: 8px;
  padding: 0 15px;
  margin-bottom: 15px;
}

.singin--form--input:focus {
  outline: 1px solid #2e53d2;
}

/* ----Rememeber me section----- */

.signin--intext--links {
  color: var(--bg-color);
  text-decoration: none;
  font-size: var(--fs-small);
}

.signin--btn {
  width: 400px;
  height: 52px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 8px;
  font-family: var(--ff);
  font-weight: var(--fw-large);
  font-size: var(--fs-small);
  margin: 42px 0 0px;
  cursor: pointer;
}

.signin-button--below--text {
  font-size: var(--fs-small);
  font-family: var(--ff);
  font-weight: var(--fw-small);
  margin-top: 15px;
}
.signin-button--below--text {
  font-size: 16px;
  color: #575757;
}
.signin-button--below--text a {
  font-size: 16px;
  font-weight: 600;
}

.last-text {
  text-align: center;
}

/* ======MEDIA QUERY OF SIGN IN PAGE================ */

@media screen and (max-width: 1024px) {
  .signin--container {
    width: 360px;
    height: 600px;
  }
  .signin--top--content {
    width: 100%;
    height: 68px;
    font-size: 20px;
    padding: 20px 0;
    align-items: center;
    text-align: center;
    border-radius: 12px;
  }
  .signin--top--content h1 {
    font-size: 20px;
  }
  .singin--form--input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    border-radius: 4px;
  }
  .signin--bottom--content {
    align-items: center;
    text-align: center;
    padding: 12px 60px;
  }
  .signin--btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
  }
  .signin--bottom--content--title {
    font-size: 20px;
  }
  .signin--bottom-content--title-description {
    font-size: 14px;
  }
  .signin--bottom--content--form {
    padding-left: 0;
  }
  .signin--bottom--content--form--label {
    font-size: 12px;
  }
  .signin-button--below--text {
    font-size: 12px;
    color: #575757;
  }
  .signin-button--below--text a {
    font-size: 12px;
    font-weight: 600;
  }
  .last-text {
    text-align: center;
  }
  .remember-password a {
    font-size: 12px;
  }
  .remember-password {
    width: 100%;
  }
}
