<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>t&c</title>

    <!-- Global Stylesheets -->
    <link rel="stylesheet" href="../static/globalstyle.css" />
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/footer.css" />

    <!-- Pages Stylesheets -->
    <link rel="stylesheet" href="./t&c.css" />
  </head>

  <body>
    <main>
      <!-- Navigation -->
      <div class="nav">
        <!-- Logo -->
        <div>
          <a href="../templates/home.html"><img class="logo"
              src="../images/Frame 1028.png" alt=""
              /></a>
        </div>
        <!-- NavLinks-->
        <div class="nav-links">
          <ul>
            <li><a href="./home.html">Home</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./about.html">About Us</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <!-- End of NavLinks -->
        <!-- Nav Buttons -->
        
        <div>
          <a href="./signin.html"> <button class="login-btn">Log in</button></a>
          <a href="./signup.html"> <button class="register-btn">Register</button></a>
        </div>
        <!-- End of Nav Buttons -->
      </div>
      <!-- End of Navigation -->

      <!-- Hero Container-->
      <section class="tnc">
        <!-- Hero Info -->
        <div class="hero--info">
          <h1 class="hero--info--title">Terms Of Use</h1>
        </div>
        <p class="hero--description">
          Glad you have chosen Go chunk to be your trusted file conversion
          platform, Here are our terms and conditions of services.
        </p>
        <!-- End of Hero Info -->

        <!-- Content -->
        <section class="content--container">
          <!-- User Acknowledgement -->
          <article class="content">
            <h1 class="content--title">
              User Acknowledgment and Acceptance of Terms
            </h1>
            <p class="content--text">
              By accessing our website, you our users are in complaince with the
              terms, conditions and rules contained here in our terms of
              services. Therefore in agreement that if any rules of conducts or
              engagement are broken, the user would be prohibited from accesing
              and using the website. We recommend that if you are underage,
              please check your local law for age of digital consent. PLEASE
              ENSURE TO READ AND UNDERSTAND THESE TERMS CAREFULLY.
            </p>
          </article>
          <hr />
          <!-- Accounts -->
          <article class="content">
            <h1 class="content--title">Accounts</h1>
            <p class="content--text">
              By creating an account with us, You guarantee that you are of
              legal age and all provided informations are accurate and complete.
              Failure to comply might lead to termination of account.
            </p>
            <p class="content--text">
              It’s your responsibility to maintain the confidentiality of your
              passwords and account information. You agree to accept
              responsibility for any and all actions that takes place under your
              account and password, Either your password is with our services or
              a third party service. And finally we must be informed on any
              breach of security or unauthorized use of your account. We reserve
              the right to remove or edit contents,terminate accounts and refuse
              services in our sole discretion
            </p>
          </article>
          <hr />
          <!-- Intellectual Property -->
          <article class="content">
            <h1 class="content--title">Intellectual Property</h1>
            <p class="content--text">
              The Service and its original content (excluding Content provided
              by users), features and functionality are and will remain the
              exclusive property of Go chunk.com and its licensors. The Service
              is protected by copyright, trademark, and other laws of Nigeria.
              Our trademarks and trade dress may not be used in connection with
              any product or service without the prior written consent of Go
              chunk You can not use Go chunk.com name, logo, and other related
              copyrighting conditions for any purpose.
            </p>
          </article>
          <hr />
          <!-- Sharing Data -->
          <article class="content">
            <h1 class="content--title">Third Party sites and information</h1>
            <p class="content--text">
              This site may link you to other sites on the Internet or otherwise
              include references to information, documents, software, materials
              and/or services provided by other parties. These sites may contain
              information or material that some people may find inappropriate or
              offensive. These other sites and parties are not under our
              control, and you acknowledge that we are not responsible for the
              accuracy, copyright compliance, legality, decency, or any other
              aspect of the content of such sites, nor are we responsible for
              errors or omissions in any references to other parties or their
              products and services. The inclusion of such a link or reference
              is provided merely as a convenience and does not imply endorsement
              of, or association with, the Services or party by us, or any
              warranty of any kind, either express or implied.
            </p>
          </article>
          <hr />
          <!-- Security and passwords -->
          <article class="content">
            <h1 class="content--title">Security and passwords</h1>
            <p class="content--text">
              You are solely responsible for maintaining the confidentiality of
              your password and account and for any and all statements made and
              acts or omissions that occur through the use of your password and
              account. Therefore, you must take steps to ensure that others do
              not gain access to your password and account. Our personnel will
              never ask you for your password. You may not transfer or share
              your account with anyone, and we reserve the right to immediately
              terminate your account if you do transfer or share your account.
            </p>
          </article>
          <hr />
          <!-- Contents -->
          <article class="content">
            <h1 class="content--title">Contents</h1>
            <p class="content--text">
              Contents found on or through this service are properties of Go
              chunk.com. You cannot or sublicense. You cannot
              modify,transmit,Display,Perform,Reproduce
              information,software,products or services obtained without prior
              written consent from Go chunk.com.
            </p>
          </article>
          <hr />
          <!-- Termination -->
          <article class="content">
            <h1 class="content--title">Termination</h1>
            <p class="content--text">
              We may terminate or suspend your account and bar access to the
              Service immediately, without prior notice or liability, under our
              sole discretion, for any reason whatsoever and without limitation,
              including but not limited to a breach of the Terms.
            </p>
          </article>
          <hr />

          <!-- Indemnification -->
          <article class="content">
            <h1 class="content--title">Indemnification</h1>
            <p class="content--text">
              Contents found on or through this service are properties of Go
              chunk.com. You cannot or sublicense. You cannot
              modify,transmit,Display,Perform,Reproduce
              information,software,products or services obtained without prior
              written consent from Go chunk.com.
            </p>
          </article>
          <hr />
          <!-- Limitation of liability -->
          <article class="content">
            <h1 class="content--title">Limitation of liability</h1>
            <p class="content--text">
              In no event shall GO chunk, nor its directors, employees,
              partners, agents, suppliers, or affiliates, be liable for any
              indirect, incidental, special, consequential or punitive damages,
              including without limitation, loss of profits, data, use,
              goodwill, or other intangible losses, resulting from (i) your
              access to or use of or inability to access or use the Service;
              (ii) any conduct or content of any third party on the Service;
              (iii) any content obtained from the Service; and (iv) unauthorized
              access, use or alteration of your transmissions or content,
              whether based on warranty, contract, tort (including negligence)
              or any other legal theory, whether or not we have been informed of
              the possibility of such damage, and even if a remedy set forth
              herein is found to have failed of its essential purpose..
            </p>
          </article>
          <hr />
          <!-- Changes -->
          <article class="content">
            <h1 class="content--title">Changes</h1>
            <p class="content--text">
              GO-chunk may change this terms of services from time to time.
              Laws, regulations and industry standards evolve, which may make
              those changes necessary, or we may make changes to our business.
              We will post the changes to this page and update the "last
              modified date" when we do. We would encourage you to review our
              Privacy Policy to stay informed. If we make changes that
              materially alter your privacy rights, GO-chunk will provide
              additional notice, such as via email or through the Services. If
              you disagree with the changes to this Privacy Policy, you should
              deactivate your registered account for the Services, or otherwise
              cease use of the Services.
            </p>
          </article>
          <hr />
          <!-- Communications -->
          <article class="content">
            <h1 class="content--title">Communications</h1>
            <p class="content--text">
              By creating an Account on our service, you agree to subscribe to
              newsletters, marketing or promotional materials and other
              information we may send. However, you may opt out of receiving
              any, or all of these communications from us by following the
              unsubscribe link or instructions provided in any email we send.
            </p>
          </article>
          <hr />
          <!-- Contact -->
          <article class="content">
            <h1 class="content--title">Contact</h1>
            <p class="content--text">
              For more questions and inquiries concerning our terms of
              services,Please visit our support page.
            </p>
          </article>
        </section>
        <!-- End of Content -->
      </section>
      <!-- End of Hero Container -->

      <!-- Footer -->
      <footer class="footer--container">
        <!-- Top of Footer -->
        <div class="footer--top">
          <img
            class="footer--top--logo"
            src="../images/LogoFooter.png"
            alt=""
            />
          <div class="footer--top--icons">
            <a href="" class="footer--top--social">
              <img
                src="../images/entypo-social_linkedin-with-circle.png"
                alt="linkedin-icon"
                class="footer--social--icon"
                />
            </a>
            <a href="" class="footer--top--social">
              <img
                src="../images/ant-design_twitter-circle-filled.png"
                alt="twitter-icon"
                class="footer--social--icon"
                />
            </a>
            <a href="" class="footer--top--social">
              <img
                src="../images/entypo-social_facebook-with-circle.png"
                alt="facebook-icon"
                class="footer--social--icon"
                />
            </a>
            <a href="" class="footer--top--social">
              <img
                src="../images/entypo-social_youtube-with-circle.png"
                alt="youtube-icon"
                class="footer--social--icon"
                />
            </a>
          </div>
        </div>
        <!-- End of Top of Footer -->
        <!-- Middle of Footer -->
        <div class="footer--middle">
          <div class="footer--middle--links">
            <h3 class="footer--middle--links--title">Company</h3>
            <div class="underline"></div>
            <div class="footer--middle--link__grid">
              <a href="#" class="footer--middle--link">Home</a>
              <a href="#" class="footer--middle--link">About Us</a>
              <a href="#" class="footer--middle--link">Contact Us</a>
              <a href="#" class="footer--middle--link">Feedback</a>
            </div>
          </div>

          <div class="footer--middle--links">
            <h3 class="footer--middle--links--title">Splitter</h3>
            <div class="underline"></div>
            <div class="footer--middle--link__grid">
              <a href="#" class="footer--middle--link">Split CSV file</a>
              <a href="#" class="footer--middle--link">Split JSON file</a>
            </div>
          </div>

          <div class="footer--middle--links">
            <h3 class="footer--middle--links--title">Resources</h3>
            <div class="underline"></div>
            <div class="footer--middle--link__grid">
              <a href="#" class="footer--middle--link">Documentation</a>
              <a href="#" class="footer--middle--link">FAQs</a>
            </div>
          </div>

          <div class="footer--middle--links">
            <h3 class="footer--middle--links--title">Account</h3>
            <div class="underline"></div>
            <div class="footer--middle--link__grid">
              <a href="#" class="footer--middle--link">Profile</a>
              <a href="#" class="footer--middle--link">Settings</a>
            </div>
          </div>
        </div>
        <!-- End of Middle of Footer -->
        <!-- Bottom of Footer -->
        <div class="footer--bottom">
          <h4 class="footer--bottom--copyright">
            Copyright 2022. All Rights Reserved.
          </h4>
          <div class="footer--bottom--links">
            <a href="./privacy.html" class="footer--bottom--link">Privacy Policy</a>
            <a href="./t&c.html" class="footer--bottom--link">Terms and Conditions</a>
          </div>
        </div>
        <!-- End of Bottom of Footer -->
      </footer>
      <!-- End of Footer -->
    </main>
    <script src="./about.js"></script>
  </body>
</html>

