/* About to work on media queries */

/* ------FAQ styles---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.faq {
  text-align: center;
  margin: 100px 0;
}

.faq-header-text h1 {
  margin-bottom: 15px;
  font-size: var(--fs-large);
}

.faq-header-text h3 {
  font-size: var(--fs-medium);
  margin-bottom: 15px;
}

.faq-header-text p {
  margin-bottom: 35px;
}

#faq-link {
  color: var(--bg-color);
}

.question-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display-block {
  display: block;
}
.display-none {
  display: none;
}
.hero-text {
  margin-right: 194px;
}

.faq-hero-text {
  padding-left: 80px;
}
.faq-hero-text-2 {
  padding-left: 50px;
}
.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 834px;
  height: 68px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #2e53d2;
}

.asked-questions {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
}

.question-box button {
  background-color: #2e53d2;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #ffffff;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.answer-question-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 834px;
  height: 68px;
  margin-top: 20px;
  border: 2px solid #2e53d2;
  border-radius: 8px 8px 0 0;
}

.answer-question-box p {
  color: #2e53d2;
  font-weight: 600;
}

.answer-box {
  display: none;
}

.answer-box button {
  padding: -50px;
  padding-top: -2rem;
  color: #2e53d2;
  background-color: #ffff;
  font-size: 20px;
  border: 2px solid #2e53d2;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.answer-box-answer {
  width: 834px;
  border: 2px solid #2e53d2;
  margin-top: -2px;
  border-radius: 0 0 8px 8px;
  height: fit-content;
  margin-top: -1;
}
.answer-box-answer p {
  text-align: left;
  padding: 20px;
}

/* ===========
Media Query
=========== */
@media screen and (max-width: 1439px) {
  .faq {
    padding: 20px;
    margin: 0;
    max-width: 100vw;
  }
  .faq-header-text > h1 {
    font-size: var(--fs-medium);
  }
  .faq-header-text > h3 {
    font-size: var(--fs-small);
  }
  .faq-header-text > p {
    font-size: smaller;
  }
  .answer-box, .answer-box-answer, .answer-question-box, .question-box {
    width: 100%;
    font-size: smaller;
    text-align: left;
    /* padding: 10px; */
  }
  .asked-questions {
    font-size: smaller;
  }
  .asked-questions {
    font-weight: 600;
    font-size: smaller;
    line-height: 12px;
    color: #ffffff;
    width: 80%;
  }
}

