{% extends "documentation_main.html" %}
{% load static %}


{% block content %}

<div class="right-content-top">
	<h1 class="top-header-mobile">Documentation</h1>
	<h1 class="right-content-header">Dashboard</h1>
	<hr class="right-content-top-rule">
	<p class="description-after-rule">The dashboard is
		where the chunking is done. It is accessible to
		authenticated users only. Users can navigate
		back to the <a href="">home page</a> by simply
		clicking on the
		logo at the top left corner.

	</p>
	<h1 id="uploading" class="right-content-header">Uploading File</h1>
	<p class="right-content-header-description">Users
		have the opportunity of either dragging
		and dropping their file formats csv/json to
		the inout area provided</p>
	<div class="documentation-dashboard-img">
		<img src="{% static 'images/Splitting CSV 89.svg'%}" alt="splitting image">
	</div>

	<h1 id="chunking" class="right-content-header">Chunking
		Options</h1>

	<p class="right-content-header-description">After
		uploading your files, you will
		automatically see an option to enter the sizes
		you want your files to be chunked or the number
		of rows/lines you would like in each chunks your
		files are chunked.
		Below is the interface of the chunking options.
	</p>
	<div class="documentation-dashboard-img">
		<img src="{% static 'images/Splitting CSV 90.svg'%}" alt="splitting image">
	</div>
	<h1 id="saving" class="right-content-header">Saving your
		File</h1>
	<p class="right-content-header-description">Users
		have the opportunity of either
		dragging
		and dropping their file formats csv/json
		to
		the inout area provided</p>
	<div class="documentation-dashboard-img">
		<img src="{% static 'images/Splitting CSV 91.svg'%}" alt="splitting image">
	</div>

	<h1 id="frontend" class="right-content-header">Front-End</h1>
	<p class="right-content-header-description">The
		front end is the programming aspect of
		the website which focuses on the visual
		elements or app that a user will interact
		with, also known as the client side. <br>
		Our website simplified the front end into
		segments which makes it very understandable
		to a complete beginner. We make use of
		global styles which contains styles that
		reflects across all pages of the website.
		Front end was basically developed using
		html, CSS and JavaScript. You can checkout
		our codes on <a href="#">Github.</a>
	</p>
	<h1 class="right-content-header">How
		Chunking is Done</h1>
	<div class="list-items">
		<p>First of all, we created a model
			(sometimes called database schema) that
			accept
			the user’s information for signup and
			also the model for receiving the file
			which
			needs to chunked.
			For each file chunked it is referenced
			to the user itself to prevent other
			users from
			seeing it. Files not saved will be
			deleted after the speculated time given.
			The process of chunking a file goes like
			this.

		</p>
		<ul>
			<li>The User import the file into the
				dropbox, with the maximum row number
				the
				user want in a file.</li>
			<li>The store file function reads
				through
				the imported file, split it by the
				maximum
				row number into each new file
				created
				then saves all the chunked files in
				a
				zip folder.</li>

			<li> If the user decides to save the
				file, it
				goes into the media folder.</li>
			<li> If not saved, it goes into the
				temporary
				folder and get deleted after 15 mins
				of
				creation.</li>
			<li> For the user to review just one
				file, a
				standalone file will be created to
				see
				how it’s being chunked</li>
		</ul>
		<p>View how the chunking works on our <a href="">Github readme</a> </p>
	</div>



	<div class="bottom-links">
		<p><a href="{% url 'base:signup' %}">Getting
				started
				with Go-chunk</a></p>
		<p><a href="{% url 'base:documentation_getting_started' %}">How to Split a file?</a></p>
		<p><a href="{% url 'base:faq' %}">Frequently
				asked questions</p>
		</p>
		<p class="after-list-text">Go-chunk provide to
			you
			an aesthetic user
			interface that will help you have a soothing
			chunking experience.</p>
		<div class="last-segment">
			<h1>Getting Started on Go-chunk</h1>
			<p class="">To <a href="{% url 'base:signup' %}">Get
					Started</a> with Go-chunk, you
				can create an
				account which wll be available at ****
			</p>
			<p class="paragraph-text">
				After you set up an accpunt, the next
				step
				is to
				chunk your files. We look forward to
				chunking
				your files!</p>
		</div>

	</div>

	<div class="menu-items" id="menuItems">
		<div class="menu-items-nav">
			<i class="fa fa-xmark" id="close-icon"></i>
		</div>
		<ul>
			<div class="intro-dropdown-mobile">
				<li><a href="">Introduction</a></li><img src="{% static 'images/down.png' %}" alt="" class="drop-down">
			</div>
			<div class="dropdown-menu" id="dropdown-menu-mobile-1">
				<h3><a href="#">Features</a></h3>
				<h3><a href="{% url 'base:documentation_getting_started'%}">Getting
						Started</a></h3>
			</div>
			</li>
			<div class="intro-dropdown-mobile">
				<li><a href="">Dashboard</a></li><img src="{% static 'images/down.png' %}" alt="" class="drop-down">
			</div>
			<div class="dropdown-menu" id="dropdown-menu-mobile-2">
				<h3><a href="#uploading">Uploading file</a></h3>
				<h3><a href="#chunking">Chunking
						Options</a></h3>
				<h3><a href="#saving">Saving
						your file</a></h3>
				<h3><a href="#frontend">Front-end</a></h3>
			</div>
			<div class="intro-dropdown-mobile">
				<li><a href="">Database</a></li><img src="{% static 'images/down.png' %}" alt="" class="drop-down">
			</div>
			<div class="dropdown-menu" id="dropdown-menu-mobile-2">
				<h3><a href="#">How chunking is done</a></h3>
				<h3><a href="#">The
						Database
						settings
					</a></h3>
			</div>
			<li><a href="{% url 'base:faq' %}">Frequently Asked Questions</a></li>
			<li><a href="{% url 'base:contact' %}">Contact Us</a></li>
			<li><a href="{% url 'base:home' %}">Website</a></li>
			<li><a href="{% url 'base:privacy' %}">Privacy Policy</a></li>
			<li><a href="{% url 'base:t_c' %}">Terms of Use</a></li>

		</ul>
	</div>


</div>
{% endblock content %}