<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chunk File Project</title>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,
                initial-scale=1.0" />
    <title>Chunk File Project</title>

    <!-- Global Stylesheets -->
    <link rel="stylesheet" href="../static/globalstyle.css" />
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/footer.css" />
    <link rel="stylesheet" href="../static/faq.css" />
    <link rel="stylesheet" href="./home.css" />
    <link rel="stylesheet" href="../static/documentation.css">
    <script src="https://kit.fontawesome.com/0fb08dbc74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>
  <main>
    <!-- Navigation -->
    <div class="nav" id="myNav">
      <!-- Logo -->
      <div class="mobile-nav">
        <div class="menu-logo"> 
          <a href="javascript:void(0);" class="icon" id="menu-icon">
            <i class="fa fa-bars"></i>
          </a>
          <a href="../templates/home.html"><img src="../images/Frame 1028.png" alt="" class="logo"></a>
        </div>

        <img src="../images/search-interface-symbol.png" alt="search" class="search">
      </div></a>
      <div class="logo-desktop"><a href="../templates/home.html"><img src="../images/Frame 1028.png" alt=""
            class="logo"></a>
      </div>

      <div class="documentation--middle--content">
        <img src="../images/Vector.svg" alt="Github" class="github-icon">
        <!-- Search bar-->
        <div class="search-bar">
          <img src="../images/search-interface-symbol.png" alt="search">
          <input type="search" name="" id="" class="search-input" placeholder="Search documentation">

        </div>
      </div>
      <!-- End of NavLinks -->
      <!-- Nav Buttons -->
      <div>
        <a href="../templates/signin.html"><button class="login-btn">Log in</button></a>
        <a href="../templates/signup.html"><button class="register-btn">Register</button></a>
      </div>
      <!-- End of Nav Buttons -->

    </div>
    <!-- ------End of navigation---------- -->
    <div class="main-container">
      <div class="side-nav">
        <h1 class="big-black-header">Documentation</h1>
        <ul>
          <div class="intro-dropdown">
            <li><a href="">Introduction</a></li>
            <img src="../images/down.png" alt="" class="drop-down">
          </div>
          <div class="dropdown-menu">
            <h3><a href="#">Features</a></h3>
            <h3><a href="../templates/signup.html">Getting
                Started</a></h3>
          </div>

          <div class="intro-dropdown">
            <li><a href="">Getting Started</a></li>
            <img src="../images/down.png" alt="" class="drop-down">
          </div>
          <div class="dropdown-menu">
            <h3><a href="#">Sign in to the dashboard</a></h3>
            <h3><a href="../templates/signup.html">Chunk
                your CSV/JSON files</a></h3>
            <h3><a href="#">File Formats</a></h3>
            <h3><a href="#">Manage your user account</a></h3>
          </div>
          <div class="intro-dropdown">
            <li><a href="">Dashboard</a></li>
            <img src="../images/down.png" alt="" class="drop-down">
          </div>
          <div class="dropdown-menu">
            <h3><a href="#">Uploading file</a></h3>
            <h3><a href="../templates/signup.html">Chunking
                Options</a></h3>
            <h3><a href="#">Saving your file</a></h3>
            <h3><a href="#">font-end</a></h3>
          </div>
          <li><a href="">Advanced
              Installations</a></li>
          <li><a href="">Database </a></li>
          <li><a href="">Frequently Asked Questions</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Website</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms of Use</a></li>
        </ul>


      </div>
      <div class="right-content-top">
        <h1 class="top-header-mobile">Documentation</h1>
        <h1 class="right-content-header">How Chunking is Done</h1>
        <hr class="right-content-top-rule">

        <div class="list-items">

          <p>First of all, we created a model
            (sometimes called database schema) that
            accept
            the user’s information for signup and
            also the model for receiving the file
            which
            needs to chunked.
            For each file chunked it is referenced
            to the user itself to prevent other
            users from
            seeing it. Files not saved will be
            deleted after the speculated time given.
            The process of chunking a file goes like
            this.

          </p>
          <ul>
            <li>The User import the file into the
              dropbox, with the maximum row number
              the
              user want in a file.</li>
            <li>The store file function reads
              through
              the imported file, split it by the
              maximum
              row number into each new file
              created
              then saves all the chunked files in
              a
              zip folder.</li>

            <li> If the user decides to save the
              file, it
              goes into the media folder.</li>
            <li> If not saved, it goes into the
              temporary
              folder and get deleted after 15 mins
              of
              creation.</li>
            <li> For the user to review just one
              file, a
              standalone file will be created to
              see
              how it’s being chunked</li>
          </ul>
          <p>The logic here ontains the functions for the pages
            and also the function for chunking the file. </p>
        </div>



        <div class="documentation-dashboard-img">
          <img src="../images/image 15.svg" alt="">
        </div>

        <div class="documentation-dashboard-img">
          <img src="../images/image 16.svg" alt="">
        </div>

        <div class="documentation-dashboard-img">
          <img src="../images/image 17.svg" alt="">
        </div>

        <p class="right-content-header-description">The model for
          the chunk files</p>
        <div class="documentation-dashboard-img">
          <img src="../images/image 18.svg" alt="">
        </div>

        <h1 class="right-content-header">The Database Settings</h1>
        <div class="documentation-dashboard-img">
          <img src="../images/image 19.svg" alt="">
        </div>

        <p class="right-content-header-description">The live
          database that contains the stored file and user’s
          information </p>

        <div class="documentation-dashboard-img">
          <img src="../images/image 20.svg" alt="">
        </div>

        <div class="documentation-dashboard-img">
          <img src="../images/image 21.svg" alt="">
        </div>
        <p class="right-content-header-description">View how the
          chunking works on our <a href="">Github readme</a></p>
        <!-- ----Beginiing of Mobile Menu Navigation---------- -->
        <div class="menu-items" id="menuItems">
          <div class="menu-items-nav">
            <i class="fa fa-xmark" id="close-icon"></i>
          </div>
          <ul>

            <div class="intro-dropdown-mobile">
              <li><a href="">Introduction</a></li>
              <img src="../images/down.png" alt="" class="drop-down ">
            </div>
            <div class="dropdown-menu">
              <h3><a href="#">Features</a></h3>
              <h3><a href="../templates/documentation_getting_started.html">Getting
                  Started</a></h3>
            </div>
            </li>

            <div class="intro-dropdown-mobile">
              <li><a href="">Dashboard</a></li>
              <img src="../images/down.png" alt="" class="drop-down ">
            </div>
            <div class="dropdown-menu">
              <h3><a href="#">Uploading file</a></h3>
              <h3><a href="../templates/documentation_getting_started.html">Chunking
                  Options</a></h3>
              <h3><a href="../templates/documentation_getting_started.html">Saving
                  your file</a></h3>
              <h3><a href="../templates/documentation_getting_started.html">Front-end</a></h3>
            </div>

            <div class="intro-dropdown-mobile">
              <li><a href="">Database</a></li>
              <img src="../images/down.png" alt="" class="drop-down ">
            </div>
            <div class="dropdown-menu">
              <h3><a href="#">How chunking is done</a></h3>
              <h3><a href="../templates/documentation_getting_started.html">The
                  Database
                  settings
                </a></h3>
            </div>

            <li>FAQs</li>
            <li>Contact Us</li>
            <li>Website</li>
            <li>Privacy Policy</li>
            <li>Terms of Use</li>

          </ul>
        </div>

      </div>

      <script src="../templates/documentation.js"></script>
</body>