{% extends 'authencation_main.html' %}
{% load static %}

{% block content %}
<main>

    <!-- ----Beginning of Login form-------->

    <!-- ----Signin container----- -->
    <div class="signin--container">
        <div class="signin--top--content">
            <h1>Login to Go-Chunk</h1>
        </div>

        <!-- ---- Signin form content---- -->

        <div class="signin--bottom--content">
            <h3 class="signin--bottom--content--title">Welcome Back!</h3>
            <p class="signin--bottom-content--title-description">
                Kindly Log in to continue...
            </p>
            <form action="" method="POST" class="signin--bottom--content--form" >
                {% csrf_token %}
                <label class="signin--bottom--content--form--label">Username</label>
                <input class="singin--form--input" name="username" type="text" id="username"
                    placeholder="Enter your Username" />
                <label class="signin--bottom--content--form--label">Password</label>
                <input class="singin--form--input" type="password" name="password" id="password"
                    placeholder="Minimun of 8 characters" />
                <div class="remember-password">
                    <label for="" class="signin--form--label-remember-me">
                        <input type="checkbox" name="" id="checkbox" class="signin--form--label-checkbox" />Remember me
                    </label>
                    <div>
                        <a href="">Forgot password?</a>
                    </div>
                </div>


                <button type="submit" class="signin--btn">Sign in</button>
                <div class="last-text">
                    <p class="signin-button--below--text">
                        Don't have an account?
                        <a href="{% url 'base:signup' %}" class="signin--intext--links">Sign Up</a>
                    </p>
                </div>

            </form>
        </div>

    </div>




</main>
<script src="{% static 'js/login.js' %}"></script>


{% endblock content %}