* {
  margin: 0;
  padding: 0;
}

body {
  background: #748ce1;
}

.forgotpassword--container {
  position: relative;
  margin: 150px auto;
  width: 610px;
  height: 700px;
  background: #fdfdfd;
  box-shadow: 10px 10px 40px rgba(103, 110, 134, 0.8);
  align-items: center;
}

.forgotpassword--top--content {
  position: relative;
  margin: 45px auto;
  top: -20px;
  width: 610px;
  height: 120px;
  text-align: center;
  padding: 32px 0;
  font-size: 32px;
  background: #2e53d2;
  border-radius: 20px;
}

.forgotpassword--top--content h3 {
  color: #fff;
}

.forgotpassword-bottom--content {
  padding: 0 92px;
  text-align: center;
}

.forgotpassword-bottom--content h3 {
  font-size: 24px;
  color: #2e53d2;
  margin-bottom: 34px;
}

.forgotpassword-bottom--content p {
  font-size: 20px;
  font-weight: var(--fw-big);
  margin-bottom: 52px;
}

.forgotpassword--bottom--content--title {
  font-family: var(--ff);
  font-size: var(--fs-medium);
  color: var(--bg-color);
  padding-bottom: 10px;
}

.forgotpassword--bottom-content--title-description {
  font-family: var(--ff);
  font-size: 16px;
  font-weight: var(--fw-small);
  color: #575757;
  margin-bottom: 42px;
}

.forgotpassword--bottom--content--form {
  align-items: center;
  text-align: left;
  padding-left: 10px;
}

.forgotpassword--bottom--content--form-label {
  padding: 10px 0 5px;
  font-size: var(--fs-small);
  font-family: var(--ff);
  font-weight: var(--fw-big);
  color: #575757;
}

.forgotpassword--bottom--content--form input {
  width: 400px;
  height: 52px;
  font-family: var(--ff);
  font-size: var(--fs-small);
  border: 1px solid #9a9a9a;
  border-radius: 8px;
  padding: 0 10px;
  margin-bottom: 18px;
}

.forgotpassword--bottom--content--form input:focus {
  outline: 1px solid #2e53d2;
}

/* ----Rememeber me section----- */

.forgotpassword--intext--links {
  color: var(--bg-color);
  text-decoration: none;
  font-size: var(--fs-small);
}

.forgotpassword--btn {
  width: 400px;
  height: 52px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 8px;
  font-family: var(--ff);
  font-weight: var(--fw-large);
  font-size: var(--fs-small);
  margin-bottom: 18px;
  cursor: pointer;
}

.forgotpassword-button--below--text {
  font-size: var(--fs-small);
  font-family: var(--ff);
  font-weight: var(--fw-small);
  text-align: center;
}

/* =====MEDIA QUERY======== */

@media screen and (max-width: 1024px) {
  .forgotpassword--container {
    width: 360px;
    height: 700px;
  }
  .forgotpassword--top--content {
    width: 100%;
    height: 68px;
    font-size: 20px;
    padding: 20px 0;
    align-items: center;
    text-align: center;
    border-radius: 12px;
  }
  .forgotpassword-form-header h1 {
    font-size: 16px;
  }

  .forgotpassword-form-header p {
    font-size: 14px;
  }
  .forgotpassword--bottom--content--form input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    border-radius: 4px;
  }
  .forgotpassword-bottom--content {
    align-items: center;
    text-align: center;
    padding: 12px 60px;
  }
  .forgotpassword--btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
  }
  .forgotpassword-button--below--text a {
    font-size: 12px;
  }
  .forgotpassword--bottom--content--form-label {
    font-size: 12px;
  }
}
