<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forgot password</title>

        <!-- Global Stylesheets -->
        <link rel="stylesheet" href="../static/globalstyle.css" />


        <!-- Pages Stylesheets -->
        <link rel="stylesheet" href="./forgotpassword.css" />
    </head>

    <body>
        <main>

            <!-- ----Beginning of Login form-------->

            <!-- ----forgotpassword container----- -->
            <div class="forgotpassword--container">
                <div class="forgotpassword--top--content">
                    <h3>Register for Go-Chunk</h3>
                </div>
                <div class="forgotpassword-bottom--content">
                    <div class="forgotpassword-form-header">
                        <h3>Create Your Free Account</h3>
                        <p>
                            We are excited to help you split your files and make
                            your work
                            easier, but before that, fill the form below and
                            let’s get you
                            started!
                        </p>
                    </div>
                    <form action=""
                        class="forgotpassword--bottom--content--form">
                        <label
                            class="forgotpassword--bottom--content--form-label">Email</label>
                        <input
                            type="email"
                            name="name"
                            id=""
                            placeholder="Enter your email address"
                            />

                        <button class="forgotpassword--btn">Reset Password</button>
                        <p class="forgotpassword-button--below--text">
                            <a href="../templates/signup.html"
                                class="forgotpassword--intext--links">Back to
                                Sign in
                                page?</a>
                        </p>
                    </form>
                </div>

            </div>


        </main>
        <script src="./forgotpasswword.js"></script>
    </body>
</html>
